.mobile_profile_menu li:nth-child(2) {
    background-color: var(--white);
    i{
        color: var(--blue);
    }
    span{
        color: var(--darkblue);
        font-weight: normal;
    }
}
.mobile_profile_menu li:nth-child(4) {
    background-color: var(--white);
    i{
        color: var(--blue);
    }
    span{
        color: var(--darkblue);
        font-weight: normal;
    }
}