h2{
    color: var(--darkblue);
    border: none;
    text-align: left;
    padding: 0;
    i{
        color: var(--popular_green);
    }
}

h5{
    color: var(--blue);
    margin-top:1rem

}
span{
    color: var(--darkblue);
    font-family:nexa-light;
    font-size: 1.25rem;
}

button{
    margin-top: 1rem;
    margin-right: 1rem;
}