body{
    background-color: var(--grey-100);
}
h1,h2{
    font-size: 1.5rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5rem;
    align-items: center;
    padding: 2rem 5%;
}
#doctor-box,.form{
    background-color: var(--white);
    padding: 2rem;
}

h1,h2{
    color:var(--blue);
    text-align: center;
    border-bottom: 1px solid var(--lightgrey);
    padding-bottom: 1rem;
}

#doctor-box{
    .timings{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
        margin-bottom:1rem;
        i{
            color: var(--blue);
            margin-right: 1rem;
        }
        a{
            font-family: nexa-bold;
            color: var(--blue);
        }
        li{
            display: flex;
        }
    }
}

#doctor-info,#hospital-info{
    margin-bottom: 1rem;
    figure{
    display: flex;
    align-items: center;
    div{
        width: 7rem;
        height: 7rem;
        margin-right: 1rem;
    }
    }
}

input[type=radio]{
    width: 1rem;
    margin-left: 0;
}
.form{
    label{
        color: var(--blue);
        font-family: nexa-bold;
        font-size: 1rem;
    }
    input[type=text],input[type=email]{
        border:1px solid var(--lightgrey);
        margin-top:1rem;
        margin-bottom: 1rem;
        padding:0.725rem
    }
    button{
        width: 100%;
    }
}

@media only screen and (min-width:1024px) {
    h1,h2{
        font-size: 1.8rem;
    }
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .form{
        label{
            font-size: 1.2rem;
        }
    }
    #doctor-box{
        .timings{
        grid-template-columns: repeat(2,1fr);

            li{
                font-size: 1.2rem;
            }
        }
    }
    figcaption{
        li{
            font-size: 1.2rem;

        }
    }
}