.container{
    border:2px solid var(--lightgrey);
    margin:30px 5%;

    .doctor-image{
        padding-bottom:10px;
    }

    .appointment_button{
        margin-bottom: 20px;
        button{
            width: 100%;
        }
    }

    .about-doctor{
        p{
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 20px;
            border-bottom: 2px dashed var(--lightgrey);
        }
    }
}

.fancy{
    color:var(--blue);
    margin-left:24px;

    & span:before{
        height: 3px;
    }
}





  .accordion {
    background-color:var(--white);
    color: var(--blue);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
    transition: 0.4s;
    border-bottom: 2px dashed var(--lightgrey);
    position: relative;
    padding-left:0;
    font-size: 18px;
    i{
        padding-right: 10px;
    }
  }
  
  .accordion:after{
    content: '\f107';
    font-family: fontawesome;
    color: var(--blue);
    border-radius: 50%;
    background-color: var(--accordian_blue);
    padding: 0 6px;
    padding-top: 2px;;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transition: transform .5s;
  }
  .active:after{
      transform: rotate(180deg);
      transition: transform .5s;
  }
 
  .panel {
    background-color: var(--accordian_blue);
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p{
        padding-top:20px;
    }
  }

  @media only screen and (min-width:768px) and (max-width:1024px){
      .container{
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          padding: 20px 24px;
          margin: 30px 5%;
          .doctor-image-container{
              width: 35%;
          }

          .about-doctor-container{
              width: 60%;
              padding-top: 10px;
              .about-doctor p{
                  text-align: left;
              }
          }
      }

      .fancy{
          margin-left:-1px;
          margin-bottom: 20px;

          & span:before{
              width: 20px;
          }
      }
  }

  @media only screen and (min-width:1025px) {
    .index-desktop-nav {
        padding:30px 5% 30px 5%;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 30px 30px;
        margin: 30px 5%;
        .doctor-image-container{
            width: 21%;
            height: 350px;
            .doctor-image{
                height: 100%;
            }
        }

        .about-doctor-container{
            width: 75%;
            padding-top: 10px;
            .about-doctor p{
                text-align: left;
            }
        }
    }

    .fancy{
        margin-left:-1px;
        margin-bottom: 30px;
        font-size: 35px;

        & span:before{
            width: 25px;
            border-bottom: 4px solid var(--blue);
        }
    }

    .accordion{
        font-size: 1.6rem;
        padding: 20px 0;

        i{
            padding-right: 1rem;
        }
    }
  }