label{
    font-family: nexa-bold;
    font-size: 1.2rem;
}

.input-group{
    width:20rem;
    margin-right:1.875rem
}
.input-group:last-child{
    margin-right: 0;
}

.form-group{
    display: flex;
}

.first-form-group{
    margin-bottom: 2rem;
}

.profile_menu li:nth-child(5) {
    background-color: var(--lightgrey);
    font-weight: bold;
    border-left: 5px solid var(--button_blue);
    span{
        color: var(--button_blue);
    }
}
.profile_menu li:nth-child(1):hover {
    background-color: var(--lightgrey);
    font-weight: bold;
    border-left: 5px solid var(--button_blue);
    span{
        color: var(--button_blue);
    }
}
.profile_menu li:nth-child(1) {
    background-color: var(--grey-100);
    font-weight: normal;
    border-left: none;
    span{
        color: var(--darkblue);
    }
}

.mobile_profile_menu li:nth-child(5) {
    background-color: var(--blue);
    i,span{
        color: var(--white);
        font-weight: bold;
    }
}
.mobile_profile_menu li:first-child {
    background-color: var(--white);
    i{
        color: var(--blue);
    }
    span{
        color: var(--darkblue);
        font-weight: normal;
    }
}
