#gender,#country{
    border: 1px solid var(--lightgrey);
    padding: 12px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-family: nexa-bold;
}
option{
    font-size: 0.8rem;
}
.loginform input {
    padding: 12px;
}

.qstn{
    top:24%;
}
.signup-location{
    display: flex;
}
.signup-city{
    margin-right: 10px;
}
.loginform-container{
    min-height: 125vh;
}
select:invalid { color: var(--lightgrey); }

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: var(--lightgrey);
    font-family: nexa-bold;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: var(--darkblue) !important;
}
.arrow{
    width:90%
}
.loginform{
    position: relative;
}
.signup-copyright{
    position: relative;
    bottom: 50px;
    text-align: center;
}
.doctor_check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    input{
        width:1.5rem;
        height: 1rem;
        margin: 0;
        margin-right:0.5rem;
    }
    label{
        font-weight: bold;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .loginform-container{

        min-height: 135vh;
    }
    #gender,#country{
        font-size: 0.9rem;
    }
    option{
        font-size: 0.9rem;
    }
}

@media only screen and (min-width:1025px){
    .loginform{
        width: 40%;
    }  
    .loginform-container{

        min-height: 135vh;
    }
    #gender,#country{
        font-size: 1rem;
    }
    option{
        font-size: 1rem;
    }

}