.hero-container{
    background-image: linear-gradient(rgb(45, 118, 190),rgb(149, 194, 238),rgb(226, 234, 241),rgb(245, 248, 250));

    height:85rem;

    padding: 0;
    // .hero-img{
    //     height: 400px;
    //     background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp" );
    //     background-position: left;
    //     background-size: cover;
    // }
    section{
        padding:0
    }
    .hero-text{
        background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp" );
        background-position: left;
        background-size: cover;
        text-align: center;
        padding:30px 5%;
        padding-bottom: 200px;

        button{
            border: none;
            border-radius: 5px;
            font-weight: bold;
            padding: 5px 10px;
            margin-bottom: 20px;
            font-size: 13px;
        }
    }
}


.plans-container{

    padding:0 5%;
    padding-bottom:30px;
    position: relative;
    top: -190px;


    .plans-box{
        margin:0 5%;
        margin-bottom: 30px;
        padding:30px 20px;
        padding-bottom: 0;
        text-align: center;
        background-color: var(--white);
        border-radius: 5px;
        box-shadow: 0 0 20px #aaa;
        //position: absolute;
        p{
            padding-bottom:30px;
            margin-bottom: 0;
            border-bottom:1px solid var(--lightgrey);
        }
        .plans-flex{
            display: grid;
            grid-template: 1fr 1fr 1fr / 1fr;
            .advanced{
                background-image:linear-gradient(rgb(185,217,234),rgb(255, 255, 255));
                .popular{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-top: -30px;
                    margin-bottom: 10px;
                    
                    p{
                    font-size: 14px;
                    color: var(--white);
                    background-color: var(--popular_green);
                    border-radius: 25px;
                    padding-bottom: 0;
                    padding:2px 10px;
                    font-weight: bold;
                    }
                }
            }
           
            .basic,.advanced,.comprehensive{
                padding-top:20px;
                
                .plan_text_container{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 90%;
                }
                .plan-text{
                    border-top:1px solid var(--lightgrey);
                    padding-top: 20px;
                    margin:0 15%;
                    height: 100%;
                    li{
                        padding-bottom: 10px;
                    }
                    padding-bottom: 10px;
                }

                .rate{
                    margin-bottom: 30px;
                    li{
                        padding-bottom: 10px;
                        
                    }
                   

                    li:nth-child(1){
                        font-size: 1.5rem;
                        font-weight: bold;
                        span{
                            font-size: 1rem;
                        }
                    }

                    li:nth-child(2){
                        font-size: 1rem;
                        color: var(--blue);
                        font-weight: bold;
                    }
                    li:nth-child(3){
                        padding-bottom: 0;
                        button{
                            border: none;
                            border-radius: 5px;
                            font-weight: bold;
                        }
                        
                    }
                }

            }
        }
    }
}

.ratings{
    text-align: center;
    padding:0;
    padding-bottom: 20px;
    padding-top: 40px;
    margin:0 5%;
    
    li{
        color: var(--button_blue);
        padding-bottom: 10px;

    }

    .stars{
        li:nth-child(1){
            h6{
                font-size: 2.25rem;
                font-weight: bold;
                margin-bottom: 0;
                color: var(--button_blue);
            }
            
        }
        li:nth-child(2){
            font-size: 13px;
            
        }
    }
.bar-flex-container{
    margin-bottom: 10px;
}
    .grey-bar{
        background-color: var(--lightgrey);
        border-radius:25px;
        height:14px;
        width:200px;
        
        .blue-bar{
            background-color: var(--button_blue);
            height:100%;
            width:120px;
        border-radius:25px;
        }

        .blue-bar2{
            width:60px;
        }
        .blue-bar3{
            width:60px;
        }
        .blue-bar4{
            width:40px;
        }
        .blue-bar5{
            width:20px;
        }
    }
    .bar-flex{
        display: flex;
        justify-content: center;

        li:nth-child(1){
            padding-right:10px;
            font-weight: bold;
        }
    }
    .user-numbers-grid{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .user-numbers{
        li:nth-child(1){
            i{
                font-size: 1.6rem;
            }
            
        }
        li:nth-child(2){
            font-weight: bolder;
            font-size: 1.1rem;
        }
        // li:nth-child(3){
        //     // color:var(--blue);
        // }
    }
}

.benefits{
    text-align:center;
    padding:0;
    margin:0 5%;
    p{
        border-bottom: 4px solid var(--accordian_blue);
        padding-bottom: 20px;
        margin:0 10%;
        margin-bottom: 20px;
        font-size: 1.1rem;
    }

    .benefits-info{
        padding-bottom: 10px;
        li{
            
            text-align: left;
            padding-bottom: 10px;
            padding-left: 10px;
            font-size: 1rem;
        }
        .check-flex{
            display: flex;
            i{
                color: var(--lightblue);
            font-size: 1.2rem;
            padding-right:10px;
            }
            
        }
    }

    .logo-grid{
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        img{
            object-fit: contain;
            padding:0 40px
        }

        .birla,.artemis{
            padding:0 10px;
        }
        .sakra,.birla,.artemis{
            border-right:1px solid var(--lightblue);
        }
        .sakra,.artemis,.psri,.people-tree{
            border-bottom: 1px solid var(--lightblue);
        }

        
    }
    .more{
        border-bottom: none;
        font-size: 14px;
        padding-bottom: 10px;
    }

    .benefits-flex1,.benefits-flex2{
        .benefits-flex_img{
            border-radius: 10px;
            box-shadow: 0 0 10px #aaa;
            margin-bottom: 30px;
        }
    }
}

.tests{
    text-align: center;
    padding:0;
    margin:0 5%;
    margin-bottom: 30px;
}
.tests_grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap:10px;
    
    .tests_box_container{
        height: 100%;
    }
    .tests_box{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 0 10px #aaa;
        padding:0 10px;
        
    }
}
.tests_img{
    width:50%;
    padding: 20px 0;
}
.testimonials{
    text-align: center;
    padding:30px 0;
    padding-bottom: 0;
    margin:0 5%;
    .plus{
        border-radius: 5px;
        padding:5px 10px;
        font-size: 14px;
        color:var(--white);
        background-color: var(--button_blue);
    }
}
.testimonials_box{
    text-align: left;
    box-shadow: 0 0 10px #aaa;
    padding: 20px;
    margin-bottom: 20px;
    
    p{
        margin-bottom: 10px;
        font-weight: bold;
    }
    .testimonials_flex{
        display: flex;
        align-items: center;
        .testimonials_info{
            h6{
                margin-bottom: 10px;
            }
            li:nth-child(2){
                color: var(--blue);
                background-color: var(--plan-user);
                font-size: 13px;
                font-weight: bold;
                padding:5px 10px;
                border-radius: 5px;
            }
        }
        
        .testimonials_img{
            height: 60px;
            width: 60px;
            margin-right: 20px;
            img{
                border-radius: 50%;
            }
        }
    }
}

.faq-container{
    padding-left: 0;
    padding-right: 0;
    margin:0 5%;
    margin-bottom: 20px;
    text-align: center;
}
.footer{

    padding-left: 0;
    padding-right: 0;
}



@media only screen and (min-width:768px) and (max-width:1024px){
    .hero-container{
        .hero-img{
            height: 400px;
            img{
                object-position: top;
            }
        }
        .hero-text{
            text-align: left;
            top:0;
            padding-left:6%;

            button{
                font-size: 1rem;
                padding: 10px 15px;
            }
        }
    }
.plans-container{
    padding-bottom:40px;
    .plans-box{
        padding:20px;
    .plans-flex{
        display: flex;
        justify-content: center;

        .basic,.advanced,.comprehensive{
            padding:10px 20px;
            padding-bottom: 0;

            h4{
                font-size: 24px;
            }
            li{
                font-size: 1rem;
                
            }

            .plan-text{
                margin:0 5%;
                li{
                    padding-bottom: 16px;
                }
            }
            .rate{
                margin-bottom: 0;
                li{
                    padding-bottom:15px;
                }
                padding-bottom: 0;
                li:nth-child(1){
                    font-size: 24px;
                    span{
                        font-size: 16px;
                    }
                }
                li:nth-child(2){
                    font-size: 16px;
                }
                li:nth-child(3){
                    padding-bottom: 0;
                }
            }
        }
        .advanced{
            border-left:1px solid var(--blue);
            border-right:1px solid var(--blue);

        }
    }
}
}

.ratings-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars{
    padding-right: 20px;
}
.ratings{
    padding:0 6%;
    padding-bottom: 40px;
    h2,p{
        margin-bottom:20px;
    }
    p{
        margin-left:10%;
        margin-right:10%;
    }
    .stars{
        margin-right: 40px;
        li:nth-child(1){
            h6{
                font-size: 2.5rem;
            }
            
        }
        li:nth-child(2){
            font-size: 0.8rem;
        }
        li:nth-child(3){
            font-size: 1rem;
        }
    }
    
    .grey-bar{
        height:16px;
        width:250px;

        .blue-bar{

            height:100%;
            width:200px;

        }

        .blue-bar2{
            width:120px;
        }
        .blue-bar3{
            width:120px;
        }
        .blue-bar4{
            width:60px;
        }
        .blue-bar5{
            width:40px;
        }
    }

    .bar-flex{
        li:nth-child(1){
            font-size: 1rem;
        }
    }
    .user-numbers-grid{
        grid-template: 1fr/ 1fr 1fr 1fr 1fr;
        margin-top: 20px;

    }
    .user-numbers{
        li:nth-child(1){
            i{
                font-size: 2rem;
            }
            
        }
        li:nth-child(2){
 
            font-size: 1.2rem;
        }
        li:nth-child(3){

            font-size: 1rem;
        }
    }
}

.benefits{

    padding:0 6%;
    
    p{

        margin:0 25%;
        margin-bottom: 40px;
        font-size: 1rem;
    }
    .benefits-flex1{
        display: flex;
        figure{
            margin-left:50px;
        }
    }
    .benefits-flex.benefits-flex1{
        align-items: flex-start;
    }
    .benefits-flex{
        
        .benefits-info{
            li{
                padding-bottom:20px;
            }
        }

        .hospital-logos{
            text-align: center;
            margin-left: 50px;
          
        }
    }
    .benefits-flex2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .benefits-text{
            text-align: left;
        }
        figure{
            margin-right:50px;
            
        }
    }
    
    .benefits-info{
        padding-bottom: 10px;
        li{
            margin:0 0;
            text-align: left;
            font-size: 1rem;
        }
        ::marker{
            
            font-size: 1rem;       
        }
    }

    .hospital-logos{
        h5{
            margin-bottom: 20px;
        }
    }
    .logo-grid{

        grid-template: 1fr 1fr 1fr / 1fr 1fr;

        margin-bottom: 20px;
        img{
            object-fit: contain;
            padding:0 1px
        }
    }
    .more{
        border-bottom: none;
        font-size: 14px;
        padding-bottom: 10px;
        margin:0;

    }
    .benefits-text{
        h2{
            margin-bottom: 40px;
        }
    }
    .benefits-flex1,.benefits-flex2{
        text-align: left;
        align-items: center;
        margin-bottom: 40px;
        li{
            padding-bottom: 20px;
        }
        
        .benefits-flex_img{
            margin-bottom: 0;
        }
    }

}

.tests{
    text-align: left;
    padding:0 6%;
    h5{
        margin-bottom: 20px;
    }
}
.tests_grid{
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    .tests_box{
        align-items: flex-start;
    //    padding-right:140px;
       padding-left: 20px;
    //    margin-bottom: 60px;
text-align: left;
    }
}
.tests_img{
    width:20%;
}
.testimonials{
    text-align: left;
    padding:0 6%;
    padding-top: 40px;
    .plus{
        font-size: 1rem;
    }
    h2{
        margin-bottom: 20px;
    }
}
.testimonials_box_flex{
    display: grid;
    grid-template:1fr / 1fr 1fr 1fr;
    grid-gap: 10px;
}
.testimonials_box{
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    p{
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
    }
    .testimonials_flex{
        display: flex;
        align-items: center;
        .testimonials_info{
            h6{
                margin-bottom: 10px;
                font-size: 1rem;
            }
            li:nth-child(2){
                color: var(--blue);
                background-color: var(--plan-user);
                font-size: 14px;
                font-weight: bold;
                padding:5px 10px;
                border-radius: 5px;
            }
        }
        
        .testimonials_img{
            height: 40px;
            width: 60px;
            margin-right: 20px;
            img{
                border-radius: 50%;
            }
        }
    }
}
.faq-container{
    padding:50px 6% 10px 6%;
}
}
@media only screen and (min-width:1024px) {
    .hero-container{
        height: 55rem;
        // .hero-img{
        //     height: 500px;
        //     background-position: top;
        // }
        .hero-text{
            background-position: top;
            text-align: left;
            top:16%;
            padding-left:6%;
            padding-bottom: 150px;
            padding-top: 150px;

            button{
                font-size: 1.25rem;
                padding: 10px 15px;
            }
        }
    }
.plans-container{
    padding-bottom:0;
    top:-140px;
    .plans-box{
        padding:60px;
        margin-bottom: 60px;
    .plans-flex{
        display: flex;
        justify-content: center;

        .basic,.advanced,.comprehensive{
            padding:20px 40px;
            padding-bottom: 0;

            h4{
                font-size: 28px;
            }
            li{
                font-size: 1.25rem;
                
            }

            .plan-text{
                margin:0 5%;
                li{
                    padding-bottom: 16px;
                }
            }
            .rate{
                margin-bottom: 0;
                li{
                    padding-bottom:15px;
                }
                padding-bottom: 0;
                li:nth-child(1){
                    font-size: 32px;
                    span{
                        font-size: 20px;
                    }
                }
                li:nth-child(2){
                    font-size: 20px;
                }
                li:nth-child(3){
                    padding-bottom: 0;
                }
            }
        }
        .advanced{
            border-left:1px solid var(--blue);
            border-right:1px solid var(--blue);
        }
    }
}
}

.ratings-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars{
    padding-right: 40px;
}
.ratings{
    padding:0 6%;
    padding-bottom: 60px;
    padding-top: 60px;
    h2,p{
        margin-bottom:40px;
    }
    p{
        margin-left:15%;
        margin-right:15%;
    }
    .stars{
        margin-right: 60px;
        li:nth-child(1){
            h6{
                font-size: 4rem;
            }
            
        }
        li:nth-child(2){
            font-size: 1rem;
        }
        li:nth-child(3){
            font-size: 1.25rem;
        }
    }
    
    .grey-bar{
        height:16px;
        width:300px;

        .blue-bar{

            height:100%;
            width:200px;

        }

        .blue-bar2{
            width:120px;
        }
        .blue-bar3{
            width:120px;
        }
        .blue-bar4{
            width:60px;
        }
        .blue-bar5{
            width:40px;
        }
    }

    .bar-flex{
        li:nth-child(1){
            font-size: 1.15rem;
        }
    }
    .user-numbers-grid{
        grid-template: 1fr/ 1fr 1fr 1fr 1fr;
        margin-top: 40px;
        margin-bottom: 60px;

    }
    .user-numbers{
        li:nth-child(1){
            i{
                font-size: 2.5rem;
            }
            
        }
        li:nth-child(2){
 
            font-size: 1.5rem;
        }
        li:nth-child(3){

            font-size: 1.25rem;
        }
    }
}

.benefits{

    padding:0;
    
    p{

        margin:0 38%;
        margin-bottom: 40px;
        font-size: 1.3rem;
    }
    .benefits-flex1{
        display: flex;
        figure{
            margin-left:100px;
        }
    }
    .benefits-flex.benefits-flex1{
        align-items: flex-start;
    }
    .benefits-flex{
        
        .benefits-info{
            li{
                padding-bottom:20px;
            }
        }

        .hospital-logos{
            text-align: center;
            margin-left: 100px;
          
        }
    }
    .benefits-flex2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .benefits-text{
            text-align: left;
        }
        figure{
            margin-right:100px;
            
        }
    }
    
    .benefits-info{
        padding-bottom: 10px;
        li{
            margin:0 0;
            text-align: left;
            font-size: 1.25rem;
        }
        .check-flex{
            li{
                padding-left: 0;
            }
            i{
                font-size: 1.5rem; 
                padding-right: 10px;  
            }
                
        }
    }

    .hospital-logos{
        h5{
            margin-bottom: 40px;
        }
    }
    .logo-grid{

        grid-template: 1fr 1fr 1fr / 1fr 1fr;

        margin-bottom: 20px;
        img{
            object-fit: contain;
            padding:0 30px
        }
    }
    .more{
        border-bottom: none;
        font-size: 18px;
        padding-bottom: 10px;
        margin:0;

    }
    .benefits-text{
        h2{
            margin-bottom: 40px;
        }
    }
    .benefits-flex1,.benefits-flex2{
        text-align: left;
        align-items: center;
        margin-bottom: 40px;
        li{
            padding-bottom: 20px;
        }
        
        .benefits-flex_img{
            margin-bottom: 0;
        }
    }

}

.tests{
    text-align: left;
    padding:0;
    margin-bottom:60px;
    h5{
        margin-bottom: 40px;
    }
}
.tests_grid{
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    .tests_box{
        align-items: flex-start;
    //    padding-right:140px;
       padding-left: 20px;
    //    margin-bottom: 60px;

    }
}
.tests_img{
    width:20%;
}
.testimonials{
    text-align: left;
    padding:0;
    padding-top: 60px;
    margin-bottom: 60px;
    .plus{
        font-size: 1.25rem;
    }
    h2{
        margin-bottom: 40px;
    }
}
.testimonials_box_flex{
    display: grid;
    grid-template:1fr / 1fr 1fr 1fr;
    grid-gap: 20px;
}
.testimonials_box{
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    p{
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }
    .testimonials_flex{
        display: flex;
        align-items: center;
        .testimonials_info{
            h6{
                margin-bottom: 10px;
                font-size: 1.25rem;
            }
            li:nth-child(2){
                color: var(--blue);
                background-color: var(--plan-user);
                font-size: 16px;
                font-weight: bold;
                padding:5px 10px;
                border-radius: 5px;
            }
        }
        
        .testimonials_img{
            height: 60px;
            width: 60px;
            margin-right: 20px;
            img{
                border-radius: 50%;
            }
        }
    }
}
.faq-container{
    padding:50px 0 10px 0;
}
.footer{
   margin:0 3%;
}
}
