<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Hospital</title>
    <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\contactus.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\doctor-profile.css" type="text/css">
    <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("partials/header.ejs")%>

           <main>
            <div class="contactus-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" alt="contact us">
                <div class="contactus-img-info">
                   <h2>About dApollo Hospital</h2>
                   <p>Home / Hospital Profile</p>
                </div>
            </div>

            <section class="container">
                <div class="doctor-image-container">
                    <div class="doctor-image">
                        <img src="https://hhp-blog.s3.amazonaws.com/2020/05/emergency-department-entrance-300x200.jpg" alt="John Nission image">
                    </div>
                    <div class="appointment_button">
                        <button class="dark-button">Call Now</button>
                    </div>
                </div>

                <div class="about-doctor-container">
                    <div class="about-doctor">
                        <h3 class="fancy"><span>Apollo Hospital</span></h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores inventore quaerat cupiditate illo minima, quidem nisi repudiandae praesentium, pariatur suscipit 
                            voluptatum eaque sunt dolorum dolore exercitationem porro ullam? Inventore, aliquid?</p>
                    </div>
                    <div class="more__about-doctor">
                        <div class="accordian-container">
                            <button class="accordion"><i class="fas fa-award"></i>Specialization</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                            <button class="accordion"><i class="fas fa-stethoscope"></i>List Of Treatments</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                            <button class="accordion"><i class="fas fa-building"></i>Work Experience</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                            <button class="accordion"><i class="fas fa-star"></i>Qualification</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                            <button class="accordion"><i class="fas fa-trophy"></i>Awards</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                            <button class="accordion"><i class="fas fa-map-marker-alt"></i>Location</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                            
                            <button class="accordion"><i class="fas fa-rupee-sign"></i>Avg Fees</button>
                            
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                            
                            <script src="../views/js/accordian.js"></script>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="enquiry txt-center">
                <div class="help">
                    <h2>Need Help?</h2>
                    <p>Just let us know, we will happy to assist you</p>
                </div>
                <div class="enq-btn">
                    <a href=".\submit-your-query.html"><button class="enquiry-btn">Submit Your Enquiry</button></a>
            </div>
            </div>
            <div class="footer txt-center">
                <div class="footer-line1">
                    <div class="footer-img">
                       <a href="..\views\index.html"><img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo"></a>
                    </div>
                     <div class="footer-list">
                        <ul > 
                           <a href=".\doctor.html"><li>Doctor</li></a> 
                           <a href=".\hospital.html"><li>Hospital</li></a>
                          <a href=".\treatment.html"> <li>Treatment</li></a>
                           <a href="#"><li>Other Services</li></a>
                           <a href="./faq.html"><li>FAQs</li></a>
                        </ul>
                    </div>
                </div>
            <div class="footer-line2">
                <div class="footer-i">
                    <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                </div>
                <div class="copyright">
                    <p>All Rights Reserved. tvastra 2018</p>
                </div>
            </div>
           </main>
</body>
</html>