<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\aboutus.css" type="text/css">
    <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
    <title>About US Tvastra</title>
</head>
<body>
    <div class="navbar">
        <nav>
          <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
          <i class="fas fa-bars fa-2x bar"></i>
        </nav>
    </div>
        
          <nav class="index-desktop-nav">
          <div class="desk-img">
              <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
          </div> 
              <div class="desk-i">
                  <ul class="desk-ul">
                      <li><a href="..\views\doctor.html">Doctors</a></li>
                      <li><a href="..\views\hospital.html">Hospitals</a></li>
                      <li><a href="..\views\treatment.html">Treatment</a></li>
                      <li><a href="..\views\doctor.html">Other Services</a></li>
                      <li><a href="..\views\doctor.html">About</a></li>
                  </ul>                  
                </div>
                     
              <div class="desktop-btn">
              <button class="login-btn">Login / signup</button>
                <button class="quote-btn">Get a Quote</button>
              </div>
           </nav>

           <div class="hero-section">
               <div class="hero-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg" alt="Three ladies standing">
               </div>
               <div class="hero-text">
                   <h2>Living healthy matters</h2>
                   <p>Our specialists aspire to bridge the gap between your benefits plan and the health needs.</p>
               </div>
           </div>

           <section class="letter tab-letter">
               <div class="letter-text">
               <div class="header">
                   <h2>
                       You have to begin to tell the story 
                       of your life as you now want it to be and
                        discontinue the tales.
                    </h2>
                
                    <p>
                       Deployment long tail monetization strategy 
                       equity basic of team of conversion. Suplly 
                       chain freemium investor long tail agile workers 
                       prototype validation influencer market share
                    </p>
                    <p>
                       Deployment long tail monetization strategy 
                       equity basic of team of conversion. Suplly 
                       chain freemium investor long tail agile workers 
                       prototype validation influencer market share
                    </p>
                    <p>
                       Deployment long tail monetization strategy 
                       equity basic of team of conversion. Suplly 
                       chain freemium investor long tail agile workers 
                       prototype validation influencer market share
                    </p>
                    <div class="signature">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="signature">
                    </div>
               </div>
            </div>
               <div class="letter-doctor-img">
               
               <div class="female-doctor">
                   <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="female doctor">
               </div>
            </div>
           </section>

           <section class="checkup">
               <div class="checkup-text">
                   <h2>
                       Your wellness builds upon the medical daily 
                   </h2>

                   <p>
                       Find your best self here. Discover new ways 
                       to live an inspiring life through natural beauty,
                       nutrition and diet, an active lifestyle, and better relationships.
                   </p>

                   <button>Get a Free Checkup</button>
               </div>

               <div class="numbers">
                   <ul>
                       <li>12M</li>
                       <li>Happy Patients</li>
                   </ul>
                   <ul>
                    <li>5k</li>
                    <li>Medical Assistants</li>
                </ul>
                <ul>
                    <li>9.8</li>
                    <li>Alexa Score</li>
                </ul>
                <ul>
                    <li>3.2k</li>
                    <li>Doctors Available</li>
                </ul>
                <ul>
                    <li>45K</li>
                    <li>Cure Rate</li>
                </ul>
                <ul>
                    <li>75</li>
                    <li>Health Points</li>
                </ul>
               </div>
           </section>

           <div class="checkup desktop-checkup">
               <div class="desktop-checkup__video">
                   <video autoplay muted loop src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/video/The+New+Stamford+Hospital+TV+Commercial.mp4"></video>
                </div>
               <div class="desktop-checkup__text">
            <div class="checkup-text">
                <h2>
                    Your wellness builds upon the medical daily 
                </h2>
                <p>
                    Find your best self here. Discover new ways 
                    to live an inspiring life through natural beauty,
                    nutrition and diet, an active lifestyle, and better relationships.
                </p>

                <button>Get a Free Checkup</button>
            </div>

            <div class="numbers">
                <ul>
                    <li>12M</li>
                    <li>Happy Patients</li>
                </ul>
                <ul>
                 <li>5k</li>
                 <li>Medical Assistants</li>
             </ul>
             <ul>
                 <li>9.8</li>
                 <li>Alexa Score</li>
             </ul>
             <ul>
                 <li>3.2k</li>
                 <li>Doctors Available</li>
             </ul>
             <ul>
                 <li>45K</li>
                 <li>Cure Rate</li>
             </ul>
             <ul>
                 <li>75</li>
                 <li>Health Points</li>
             </ul>
            </div>
        </div>
           </div>

           <div class="enquiry txt-center">
            <div class="help">
                <h2>Join our team</h2>
                <p>We are always looking for good and talented people.</p>
            </div>
            <div class="enq-btn">
                <button class="enquiry-btn">Submit Your CV</button>
            </div>
            
        </div>
        <div class="footer txt-center">
                <div class="footer-line1">
                    <div class="footer-img">
                        <img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo">
                    </div>
                     <div class="footer-list">
                        <ul > 
                            <li>Doctor</li>
                            <li>Hospital</li>
                            <li>Treatment</li>
                            <li>Other Services</li>
                            <li>FAQs</li>
                        </ul>
                    </div>
                </div>
            <div class="footer-line2">
                <div class="footer-i">
                    <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                </div>
                <div class="copyright">
                    <p>All Rights Reserved. tvastra 2018</p>
                </div>
            </div>
        </div>
</body>
</html>