<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ's</title>
    <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\contactus.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\doctor-profile.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\faq.css" type="text/css">
    <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("partials/header.ejs")%>

           <main>
            <div class="contactus-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" alt="contact us">
                <div class="contactus-img-info">
                   <h2>FAQ</h2>
                   <p>Home / Faq</p>
                </div>
            </div>

            <section class="faq-container">
                <ul>
                    <li>
                        <button class="accordion">How do I make payments?</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            There is not enough money  in my portea wallet for making a payment.
                            what do I do?

                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            Can I transfer balance in Portea Wallet balance to another user?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            Is portea Money the same as Portea Wallet?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            Refund
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                           What is a Family ID?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            Who can be added as Family?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                </ul>
                <script src="../views/js/accordian.js"></script>
            </section>

            <div class="enquiry txt-center">
                <div class="help">
                    <h2>Need Help?</h2>
                    <p>Just let us know, we will happy to assist you</p>
                </div>
                <div class="enq-btn">
                    <a href="/submit-your-query"><button class="enquiry-btn">Submit Your Enquiry</button></a>
                </div>
            </div>

            <div class="footer txt-center">
                    <div class="footer-line1">
                        <div class="footer-img">
                            <a href="/index"><img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo"></a>
                        </div>
                         <div class="footer-list">
                            <ul > 
                                <a href="/doctor"><li>Doctor</li></a> 
                            <a href="hospital"><li>Hospital</li></a>
                           <a href="/treatment"> <li>Treatment</li></a>
                            <a href="#"><li>Other Services</li></a>
                            <a href="/faq"><li>FAQs</li></a>
                            </ul>
                        </div>
                    </div>
                <div class="footer-line2">
                    <div class="footer-i">
                        <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-instagram"></i>
                    </div>
                    <div class="copyright">
                        <p>All Rights Reserved. tvastra 2018</p>
                    </div>
                </div>
            </div>
            </main>
        </body>
    </html>