<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\doctor.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\hospital.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
        <title>Hospital</title>
    </head>
    <body>
        <%- include("partials/header.ejs")%>
               <div class="banner">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png" alt="doctors">
                <p>Hospitals in <span class="banner-p">Delhi</span></p>
            </div>
               <div class="sort">
                <p>Home / Hospital List</p>
                <select name="SortBy" id="sort-by">
                    <option value="SortBy">Sort By</option>
                </select>
            </div>
            <div class="main-container">
            <div class="sidebar">
                <div class="filter">
                    <p>Filter By</p>
                </div>
                <div class="location search-flex">
                    <p>Location</p>
                    <i class="fas fa-search doc-fancy"><span></span></i>
                </div>
                <div class="checkboxes">
                    <div> 
                    <input type="checkbox" id="city1" name="city1" value="DLF Cyber city">
                    <label for="city1">DLF Cyber city</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="city2" name="city2" value="Dwaraka">
                    <label for="city2">Dwaraka</label>
                    </div>
                   <div> 
                    <input type="checkbox" id="city3" name="city3" value="Lajpat Nagar">
                    <label for="city3">Lajpat Nagar</label>
                   </div>
                    <div> 
                    <input type="checkbox" id="city4" name="city4" value="Palam Vihar">
                    <label for="city4">Palam Vihar</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="city5" name="city5" value="Punjabi Baag">
                    <label for="city5">Punjabi Baag</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="city6" name="city6" value="Pusa Road">
                    <label for="city6">Pusa Road</label>
                    </div>
                    <p>+ Show More</p>
                </div>
                <div class="doc-treatment search-flex location">
                    <p>Treatment </p> 
                    <i class="fas fa-search doc-fancy"><span></span></i>
                </div>
                <div class="checkboxes">
                <div> 
                    <input type="checkbox" id="treatment1" name="treatment1" value="Multi organ Transplant">
                    <label for="treatment1">Multi organ Transplant</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="treatment2" name="treatment2" value="Orthopedic surgery">
                    <label for="treatment2">Orthopedic surgery</label>
                    </div>
                   <div> 
                    <input type="checkbox" id="treatment3" name="treatment3" value="Infertility treatment">
                    <label for="treatment3">Infertility Treatment</label>
                   </div>
                    <div> 
                    <input type="checkbox" id="treatment4" name="treatment4" value="Dentistry">
                    <label for="treatment4">Dentistry</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="treatment5" name="treatment5" value="Cardiology">
                    <label for="treatment5">Cardiology</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="treatment6" name="treatment6" value="cancer">
                    <label for="treatment6">Cancer</label>
                    </div>
                    <p>+ Show More</p>
                </div>
                <div class="doc-hospitals search-flex location">
                    <p>Hospitals </p>
                    <i class="fas fa-search doc-fancy"><span></span></i>
                    
                </div>
                <div class="checkboxes">
                    <div> 
                    <input type="checkbox" id="city1" name="city1" value="Apollo Hospital">
                    <label for="city1">Apollo Hospital</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="city2" name="city2" value="Manipal North Side Hospital">
                    <label for="city2">Manipal North Side Hospital</label>
                    </div>
                   <div> 
                    <input type="checkbox" id="city3" name="city3" value="NorthStar">
                    <label for="city3">NorthStar</label>
                   </div>
                    <div> 
                    <input type="checkbox" id="city4" name="city4" value="AIIMS">
                    <label for="city4">AIIMS</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="city5" name="city5" value="Fortis Hospital">
                    <label for="city5">Fortis Hospital</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="city6" name="city6" value="Elbit Diagnostic">
                    <label for="city6">Elbit Diagnostic</label>
                    </div>
                    <p>+ Show More</p>
                </div>
                <div class="years-of-exp search-flex location">
                    <p>Years of experience </p>
                    <i class="fas fa-search doc-fancy"><span></span></i>
                </div>
                <div class="checkboxes">
                    <div> 
                    <input type="checkbox" id="exp1" name="exp1" value="DLF Cyber city">
                    <label for="exp1">30+</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="exp2" name="exp2" value="Dwaraka">
                    <label for="exp2">25+</label>
                    </div>
                   <div> 
                    <input type="checkbox" id="exp3" name="exp3" value="Lajpat Nagar">
                    <label for="exp3">20+</label>
                   </div>
                    <div> 
                    <input type="checkbox" id="exp4" name="exp4" value="Palam Vihar">
                    <label for="exp4">15+</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="exp5" name="exp5" value="Punjabi Baag">
                    <label for="exp5">10+</label>
                    </div>
                    <div> 
                    <input type="checkbox" id="exp6" name="exp6" value="Pusa Road">
                    <label for="exp6">5+</label>
                    </div>
                    <p>+ Show More</p>
                </div>
            </div>
            <div class="main">
                <div class="alldoctors">
                    <div class="doctor-boundary">
                        <div class="doctor-info">
                         <h6 class="info-fancy"><span>Apollo Hospital</span></h6>
                            <ul class="info-ul">
                                <li class="hospital-li">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p> 
                                </li>
                                <li class="hospital-li">
                                   <i class="fas fa-bed"></i>
                                   <p>100 beds</p> 
                                </li>
                                <li class="hospital-li">
                                    <i class="fas fa-stethoscope"></i>
                                   <p>Famous Treatments</p>
                                </li>
                            </ul>
                            <div class="famous-btn">
                                <button>Multi Organ Transplant</button> 
                                   <button>orthopedic Surgery</button>
                                   <button>Infertility Treatment</button>
                                   <button>Dentistry</button>
                                   <button>cardiology</button>
                                   <button>Cancer</button>
                                   <button>+40 more</button>
                            </div>
                            <div class="center call-btn">
                             <button class="appointment-btn dark-button">Call Now</button>
                            </div>
                         
                        </div>
                        <div class="h-img h-img1">
                            <img src="https://content3.jdmagicbox.com/comp/delhi/h8/011pxx11.xx11.110808094820.e1h8/catalogue/indraprastha-apollo-hospitals-sarita-vihar-delhi-hospitals-0jmez6p3in.jpg?clr=522014" alt="Deep chandra verma image">
                        </div>
                    </div>
                    <div class="doctor-boundary">
                     <div class="doctor-info">
                         <h6 class="info-fancy"><span>Fortis Hospital</span></h6>
                         <ul class="info-ul">
                            <li class="hospital-li">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p> 
                            </li>
                            <li class="hospital-li">
                               <i class="fas fa-bed"></i>
                               <p>100 beds</p> 
                            </li>
                            <li class="hospital-li">
                                <i class="fas fa-stethoscope"></i>
                               <p>Famous Treatments</p>
                            </li>
                        </ul>
                        <div class="famous-btn">
                            <button>Multi Organ Transplant</button> 
                               <button>orthopedic Surgery</button>
                               <button>Infertility Treatment</button>
                               <button>Dentistry</button>
                               <button>cardiology</button>
                               <button>Cancer</button>
                               <button>+40 more</button>
                        </div>
                        <div class="center call-btn">
                         <button class="appointment-btn dark-button">Call Now</button>
                        </div>
                      
                     </div>
                     <div class="h-img">
                         <img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/fortis_660_021018072040.jpg" alt="Deep chandra verma image">
                     </div>
                 </div>
                 <div class="doctor-boundary">
                     <div class="doctor-info">
                         <h6 class="info-fancy"><span>Rockland Hospital</span></h6>
                         <ul class="info-ul">
                            <li class="hospital-li">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p> 
                            </li>
                            <li class="hospital-li">
                               <i class="fas fa-bed"></i>
                               <p>100 beds</p> 
                            </li>
                            <li class="hospital-li">
                                <i class="fas fa-stethoscope"></i>
                               <p>Famous Treatments</p>
                            </li>
                        </ul>
                        <div class="famous-btn">
                            <button>Multi Organ Transplant</button> 
                               <button>orthopedic Surgery</button>
                               <button>Infertility Treatment</button>
                               <button>Dentistry</button>
                               <button>cardiology</button>
                               <button>Cancer</button>
                               <button>+40 more</button>
                        </div>
                        <div class="center call-btn">
                         <button class="appointment-btn dark-button">Call Now</button>
                        </div>
                      
                     </div>
                     <div class="h-img h-img3">
                         <img src="https://hindi.gyaanghantaa.com/wp-content/uploads/sites/2/2018/07/rockland-hospital-delhi-1469694553-5799c259346c8.jpg" alt="Deep chandra verma image">
                     </div>
                 </div>
                 <div class="doctor-boundary">
                     <div class="doctor-info">
                         <h6 class="info-fancy"><span>Primus Super Speciality Hospital</span></h6>
                         <ul class="info-ul">
                            <li class="hospital-li">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p> 
                            </li>
                            <li class="hospital-li">
                               <i class="fas fa-bed"></i>
                               <p>100 beds</p> 
                            </li>
                            <li class="hospital-li">
                                <i class="fas fa-stethoscope"></i>
                               <p>Famous Treatments</p>
                            </li>
                        </ul>
                        <div class="famous-btn">
                            <button>Multi Organ Transplant</button> 
                               <button>orthopedic Surgery</button>
                               <button>Infertility Treatment</button>
                               <button>Dentistry</button>
                               <button>cardiology</button>
                               <button>Cancer</button>
                               <button>+40 more</button>
                        </div>
                        <div class="center call-btn">
                         <button class="appointment-btn dark-button">Call Now</button>
                        </div>
                      
                     </div>
                     <div class="h-img">
                         <img src="https://www.tourmyindia.com/medical-tourism/uploads/hospital/images/0a1d38ba54c0506bbd7d6b9ccc4ae392.jpg" alt="Deep chandra verma image">
                     </div>
                 </div>
                </div>
            </div>
        </div>
                <div class="enquiry txt-center">
                 <div class="help">
                     <h2>Need Help?</h2>
                     <p>Just let us know, we will happy to assist you</p>
                 </div>
                 <div class="enq-btn">
                    <a href="/submit-your-query"><button class="enquiry-btn">Submit Your Enquiry</button></a>
                 </div>
             </div>
 
             <div class="footer txt-center">
                     <div class="footer-line1">
                         <div class="footer-img">
                            <a href="/index"><img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo"></a>
                         </div>
                          <div class="footer-list">
                             <ul > 
                                <a href="/doctor"><li>Doctor</li></a> 
                            <a href="hospital"><li>Hospital</li></a>
                           <a href="/treatment"> <li>Treatment</li></a>
                            <a href="#"><li>Other Services</li></a>
                            <a href="/faq"><li>FAQs</li></a>
                         </div>
                     </div>
                 <div class="footer-line2">
                     <div class="footer-i">
                         <i class="fab fa-facebook-f"></i>
                     <i class="fab fa-pinterest-p"></i>
                     <i class="fab fa-twitter"></i>
                     <i class="fab fa-google-plus-g"></i>
                     <i class="fab fa-instagram"></i>
                     </div>
                     <div class="copyright">
                         <p>All Rights Reserved. tvastra 2018</p>
                     </div>
                 </div>
             </div>
             
     </body>
 </html>
