<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
        <title>index</title>
    </head>
    <body>
      <div class="navbar">
          <nav>
            <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
            <i class="fas fa-bars fa-2x bar"></i>
          </nav>
      </div>
          
            <nav class="desktop-nav">
            <div class="desk-img">
                <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
            </div> 
                <div class="desk-i">
                    <a href="doctors">Doctors</a>
                    <a >Hospitals</a>
                    <a >Treatment</a>
                    <a >Other Services</a>
                    <a >About</a>
                  </div>
                       
                <div class="desktop-btn">
                <button class="login-btn">Login / signup</button>
                  <button class="quote-btn">Get a Quote</button>
                </div>
             </nav>
          
      <div class="find txt-center">
          <div class="find-flex">
          <div class="find-h1">
            <h1>Find Affordable Healthcare</h1>
          </div >
          <div class="find-p">
            <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford.</p>
          </div>
          <div class="inputs">
            <div class="inp">
                <div class="inp-img1">
                    <i class="fas fa-map-marker-alt map-marker"></i>
                </div>
                <div class="inp1">
                    <input type="text" name="city" class="city" placeholder="Ahmedabad">
                </div>
                <div class="inp-img2">
                    <i class="fas fa-crosshairs"></i>
                </div>   
            </div>
            <div class="inp2">
                <input type="text" name="search" class="search" placeholder="Search for Doctor, hospitals and treatments"> 
              </div>
              <div><input type="submit" name="search-button" class="search-button" value="Search"></div>
            </div>
              
          </div>
        </div>
      </div>
      <div class="how-it-works txt-center">
          <div>
            <h2>How it works</h2>
          </div>
          <div>
            <p>
                Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best.
            </p>
          </div> 
      </div>
      <div class='works-img-flex'>

      
      <div class="works-btn-container">
          <ul>
            <li class="works-btn"><span class="spanning">01</span>   Fix Consultation</li>
            <div class="mobile-works-img">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="img1">
                <div class="works-img-txt">
                  <h4>Fix Consultation</h4>
                  <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                </div>
                
            </div>
            
        
            <li class="works-btn"><span class="spanning">02</span>   Upload Medical Reports</li>
        
        
            <li class="works-btn"><span class="spanning">03</span>   Consult with doctor</li>
        
        
           <li class="works-btn"><span class="spanning">04</span>   Fix Surgery</li>
        
        
            <li class="works-btn"><span class="spanning">05</span>   Hospital sent estimates</li>
        
        
            <li class="works-btn"><span class="spanning">06</span>   Payment</li>
        
        
            <li class="works-btn"><span class="spanning">07</span>   Surgery complted</li>
        
        </ul>
      </div>
      <div class="works-img">
          <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="img1">
          <div class="works-img-txt">
            <h4>Fix Consultation</h4>
            <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
          </div>
          
      </div>
      </div>
        <div class="doctors txt-center">

            <div class=".doc-container">
                <div class=".doctors-flex">
                    <div>
                        <h2>World Class Expert Doctors!</h2>
                    </div>
                    <div>
                        <p class="para">The university of Texas Southeastern Medical center has been a long world-renowned research hospital.
                            But untill the `80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy Hospital, UT Southeastern is also a mecca for patients.
                        </p> 
                    </div>
                    
                </div>
            </div>
            
            <div class="doc-img center">     
                <div class=img1>
                    <div class="george">                        
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doctor duke sans">
                </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Duke Sanson</span></h6>
                        <ul>
                            <li>Neuro Surgeon</li>
                            <li>Chain
                                department of Neurological surgery</li>
                            <li>Australia</li>
                        </ul>
                    </div>
                </div>
                    <div class="img1">
                        <div class="george georgiaimg">
                           <!-- <img class = "georgia"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="doctor georgia peter">-->
                        </div>
                        
                        <div class="info1">
                            <h6 class="fancy"><span>Georgia Peter</span></h6>
                            <ul>
                                <li>
                                    Breast Cancer Surgeon
                                </li>
                                <li>Director. UT. Southwest</li>
                                <li>London</li>
                            </ul>
                        </div>
                        

                    </div>
                
                <div class="img1">
                    <div class="george">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doctor charlie moon">
                </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Charlie Moon</span></h6>
                        
                        <ul>
                            <li>
                                Cardiac Surgeon
                            </li>
                            <li>MBBS, MD, FRCP, Mrcp, Fellowship</li>
                            <li>New Delhi, India</li>
                        </ul>
                    </div>
                </div> 
                <div class="img1 last">
                    <div class="george roseimg">
                    <!--<img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doctor rose moon">-->
                </div>
                    <div class="info1">
                        <h6 class="fancy"><span>Rose Moon</span></h6>
                        <ul>
                            <li>Plastic Surgeon</li>
                        <li>Department of plastic and Reconstructive surgery</li>
                        <li>Dubai</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
            <div class="carousel__navigation">
                <ol class="carousel__navigation-list">
                  <li class="carousel__navigation-item">
                    <a href="#carousel__slide1"
                       class="carousel__navigation-button">Go to slide 1</a>
                  </li>
                  <li class="carousel__navigation-item">
                    <a href="#carousel__slide2"
                       class="carousel__navigation-button">Go to slide 2</a>
                  </li>
                  <li class="carousel__navigation-item">
                    <a href="#carousel__slide3"
                       class="carousel__navigation-button">Go to slide 3</a>
                  </li>
                  <li class="carousel__navigation-item">
                    <a href="#carousel__slide4"
                       class="carousel__navigation-button">Go to slide 4</a>
                  </li>
                </ol>
              </div>
            </div>
            
        </div>
        
        <div class="treatment txt-center">
            <div class="treatment-flex">
                <div>
                    <h2>Featured Medical Treatment</h2>
                </div>            
            <div>
                <p class="treat-para">
                    Join the thousands of others who have
                    exercised their rights to quality
                    healthcare at a price you can aford
                </p>
            </div>
            
        </div>
        <div class="treat-img center">
            <div class="img1 treat-img1 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="doctor duke sanson">
                <div class="info2">
                    <ul>
                        <h6>Dentistry</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
                <div class="img1 treat-img2 img2">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="doctor georgia peter">
                    <div class="info2">
                        
                        <ul>
                            <h6>Cancer</h6>
                            <li>50+ Specialists</li>
                        </ul> 
                    </div>
                </div>
            
            <div class="img1 treat-img3 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="doctor charlie moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Cardiologic Treatment</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div> 
            <div class="img1 treat-img4 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Multi Organ Transplant</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
            <div class="img1 treat-img5 img2">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Orthopedics Surgery</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>
            </div>
            <div class="img1 treat-img6 img2 last">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="doctor rose moon">
                <div class="info2">
                    
                    <ul>
                        <h6>Infertility Treatment</h6>
                        <li>50+ Specialists</li>
                    </ul> 
                </div>        
            </div>
            
        </div> 
        <div class="treat_carousel__navigation">
            <ol class="treat_carousel__navigation-list">
              <li class="treat_carousel__navigation-item">
                <a href="#carousel__slide1"
                   class="treat_carousel__navigation-button">Go to slide 1</a>
              </li>
              <li class="treat_carousel__navigation-item">
                <a href="#carousel__slide2"
                   class="treat_carousel__navigation-button">Go to slide 2</a>
              </li>
              <li class="treat_carousel__navigation-item">
                <a href="#carousel__slide3"
                   class="treat_carousel__navigation-button">Go to slide 3</a>
              </li>
            </ol>
          </div> 
    </div>


        <div  class="services">
            <div class="services-flex ">

            
            <div class="s-h2 center txt-center">
                <h2 class="services-h1">Exclusice Services</h2>
            </div>
            <div class="s-p center txt-center">
                <p class="services-para">We want you to be comfortable and thus apart from threating you illness, we provide
                    you with other services that you can see
                </p>
            </div>
        </div>
        <div class="pad">
            <div class="services-grid center txt-center">
                <div class="box travel">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="travel">
                <h6>TRAVEL</h6>
                </div >
                <div class="box food">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="FOOD">
                <h6>FOOD</h6>
                </div>
                <div class="box accomodation">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="ACCOMODATION">
                <h6>ACCOMODATION</h6>
                </div>
                <div class="box labs">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="labs">
                <h6>LABS</h6>
                </div>
                <div class="box reports">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="reports">
                <h6>REPORTS</h6>
                </div>
                <div class="box ambulance">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="ambulance">
                <h6>AMBULANCE</h6>
                </div>
            </div>
        </div>
        </div>
        <div class="enquiry txt-center">
            <div class="help">
                <h2>Need Help?</h2>
                <p>Just let us know, we will happy to assist you</p>
            </div>
            <div class="enq-btn">
                <button class="enquiry-btn">Submit Your Enquiry</button>
            </div>
            
        </div>
        <div class="footer txt-center">
                <div class="footer-line1">
                    <div class="footer-img">
                        <img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo">
                    </div>
                     <div class="footer-list">
                        <ul > 
                            <li>Doctor</li>
                            <li>Hospital</li>
                            <li>Treatment</li>
                            <li>Other Services</li>
                            <li>FAQs</li>
                        </ul>
                    </div>
                </div>
            <div class="footer-line2">
                <div class="footer-i">
                    <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                </div>
                <div class="copyright">
                    <p>All Rights Reserved. tvastra 2018</p>
                </div>
            </div>
        </div>
    </body>
</html>