<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="navbar">
          <nav>
            <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
            <i class="fas fa-bars fa-2x bar"></i>
          </nav>
      </div>
      <div class="find">
          <h1>Find Affordable Healthcare</h1>
          <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford</p>
        <form action="#" class="find-form">
            <div class="map-img">
                <i class="fas fa-map-marker-alt map-marker"></i>
                <i class="fas fa-search-location search-location"></i>
                <input type="text" name="city" class="city" placeholder="Ahmedabad">
                <br>
            </div>
          <input type="text" name="search" class="search" placeholder="Search for Doctor, hospitals and treatments"><br>
          <input type="submit" name="search-button" class="search-button" value="Search">
        </form>
      </div>
      <div class="how-it-works">
          <h1>How it works</h1>
          <p>
            Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best.
          </p>
      </div>
      <div id="accordian">
          <section id="Fix-Consultation">
                <a href="#Fix-Consultation"><button class="works-btn"><span class="spanning">01</span> Fix Consultation</button></a>
                <div class="working">
                
                <h1>Fix Consultation </h1>
                <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
              </div>
            </section>
          <section id="Upload-Medical-Reports">
            <a href="#Upload-Medical-Reports"><button class="works-btn"><span class="spanning">02</span> Upload Medical Reports</button></a>
            
        </section>
        <section id="Consult-with-doctor">
            <a href="#Consult-with-doctor"><button class="works-btn"><span class="spanning">03</span> Consult with doctor</button></a>
            
        </section>
        <section id="Fix-Surgery">
            <a href="#Fix-Surgery"><button class="works-btn"><span class="spanning">04</span> Fix Surgery</button></a>
            
        </section>
        <section id="Hospital-sent-estimates">
            <a href="#Hospital-sent-estimates"><button class="works-btn"><span class="spanning">05</span> Hospital sent estimates</button></a>
            
        </section>
        <section id="Payment">
            <a href="#Payment"><button class="works-btn"><span class="spanning">06</span> Payment</button></a>
            
        </section>
        <section id="Surgery-complted">
            <a href="#Surgery-complted"><button class="works-btn"><span class="spanning">07</span> Surgery complted</button></a>

        </section>
        </div>
        <div class="doctors middle darkblue">
            <h1>World Class Expert Doctors!</h1>
            <p class="para">The university of Texas Southeastern Medical center has been a long world-renowned research hospital.
                But untill the `80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy Hospital, UT Southeastern is also a mecca for patients.
            </p>
            <div class="doc-img flexcontainer">
                <div class=img1>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doctor duke sanson">
                    <div class="info1">
                        <h3>Duke Sanson</h3>
                        <p>Neuro Surgeon</p>
                        <p>Chain Department of Neurological surgery</p>
                        <p>Australia</p>
                    </div>
                    <div class="img1">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="doctor georgia peter">
                        <div class="info1">
                            <h3>Georgia Peter</h3>
                            <p>Breast Cancer Surgeon</p>
                            <p>Director. UT. Southwest</p>
                            <p>London</p>
                        </div>
                    </div>
                </div>
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doctor charlie moon">
                    <div class="info1">
                        <h3>Charlie Moon</h3>
                        <p>Cardiac Surgeon</p>
                        <p>MBBS, MD, FRCP, Mrcp, Fellowship</p>
                        <p>New Delhi, India</p>
                    </div>
                </div> 
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doctor rose moon">
                    <div class="info1">
                        <h3>Rose Moon</h3>
                        <p>Plastic Surgeon</p>
                        <p>Department of plastic and Reconstructive surgery</p>
                        <p>Dubai</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="treatment middle">
            <h1>Featured Medical Treatment</h1>
            <p class="treat-para">
                Join the thousands of others who have
                exercised their rights to quality
                healthcare at a price you can aford
            </p>
            <div class="treat-img flexcontainer">
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="doctor duke sanson">
                    <div class="info2">
                        <h3>Dentistry</h3>
                        <p>50+ Specialists</p>
                    </div>
                    <div class="img1">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="doctor georgia peter">
                        <div class="info2">
                            <h3>Cancer</h3>
                            <p>50+ Specialists</p>
                        </div>
                    </div>
                </div>
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="doctor charlie moon">
                    <div class="info2">
                        <h3>Cardiologic Treatment</h3>
                        <p>50+ Specialists</p>
                    </div>
                </div> 
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="doctor rose moon">
                    <div class="info2">
                        <h3>Multi Organ Transplant</h3>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="doctor rose moon">
                    <div class="info2">
                        <h3>Multi Organ Transplant</h3>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="doctor rose moon">
                    <div class="info2">
                        <h3>Orthopedics Surgery</h3>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="img1">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="doctor rose moon">
                    <div class="info2">
                        <h3>Orthopedics Surgery</h3>
                        <p>50+ Specialists</p>
                    </div>
                </div>
            </div>    
        </div>
        <div  class="services middle">
            <h1 class="darktext services-h1">Exclusice Services</h1>
            <p class="services-para">We want you to be comfortable and thus apart from threating you illness, we provide
                you with other services that you can see
            </p>
            <div class="services-grid">
                <div class="box travel">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="travel">
                <h3>TRAVEL</h3>
                </div >
                <div class="box food">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="FOOD">
                <h3>FOOD</h3>
                </div>
                <div class="box accomodation">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="ACCOMODATION">
                <h3>ACCOMODATION</h3>
                </div>
                <div class="box labs">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="labs">
                <h3>LABS</h3>
                </div>
                <div class="box reports">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="reports">
                <h3>REPORTS</h3>
                </div>
                <div class="box ambulance">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="ambulance">
                <h3>AMBULANCE</h3>
                </div>
            </div>
        </div>
        <div class="enquiry middle">
            <h1>Need Help?</h1>
            <p>Just let us know, we will happy to assist you</p>
            <button class="enquiry-btn">Submit Your Enquiry</button>
        </div>
        <div class="footer middle darkblue">
            <footer>
                <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo">
                <p>Doctor</p>
                <p>Hospital</p>
                <p>Treatment</p>
                <p>Other Services</p>
                <p>FAQs</p>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                <p>All Rights Reserved. tvastra 2018</p>
            </footer>
        </div>
    </body>
</html>