<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\login.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="navbar">
          <nav>
            <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
            <i class="fas fa-bars fa-2x bar"></i>
          </nav>
      </div>
          
            <nav class="desktop-nav">
            <div class="desk-img">
                <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
            </div> 
                <div class="desk-i">
                    <a >Doctors</a>
                    <a >Hospitals</a>
                    <a >Treatment</a>
                    <a >Other Services</a>
                    <a >About</a>
                  </div>
                       
                <div class="desktop-btn">
                <button class="login-btn">Login / signup</button>
                  <button class="quote-btn">Get a Quote</button>
                </div>
             </nav>
             <div class="loginform-container">
             <div class="loginform">
                 <div class="login-header">
                    <h4>Login</h4>
                 </div>
                 <div class="loginfrm-inp">
                     <div class="login-qstn">
                        <input type="text" placeholder="Enter Mobile Number">
                        <i class="fas fa-question-circle qstn"></i>
                     </div>
                    
                    <input type="text" placeholder="Enter OTP">
                 </div>
                 <div class="arrow">
                    <button class = "loginform-btn"><h6>LOGIN</h6></button>
                    <i class="fas fa-arrow-right rarrow"></i>
                 </div>
                 <p>Not Registered? <span>Sign Up</span></p>
             </div>
            </div>
            <div class="login-copyright">
                <p>All Rights Reserved. tvastra 2018</p>
            </div>
    </body>
</html>