<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\login.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\phone-login.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\otp-submit.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
        <title>Login</title>
    </head>
    <body>
      <%- include("partials/header.ejs") %>
             <div class="loginform-container">
             <div class="loginform">
                 <div class="login-header">
                    <h4>OTP</h4>
                    <p id="mobile-number" style="display: none;"><%=phone%></p>
                 </div>
                 <div class="loginfrm-inp">
                    <p>
                        We have sent One Time Password (OTP) to your 
                        registered Phone Number
                    </p>
                     <form action="/otp-submit" method="post">
                        <div class="form-grp input-div-container">
                            <div class="input-div">
                            <input type="text" name="otp1" inputmode="numeric" pattern="[0-9]*" title="Must be a number" id="otp1" required  maxlength="1" onkeyup="clickEvent(this,'otp2')">  
                            <input type="text" name="otp2" inputmode="numeric" pattern="[0-9]*" title="Must be a number" id="otp2" required  maxlength="1" onkeyup="clickEvent(this,'otp3')">  
                            <input type="text" name="otp3" inputmode="numeric" pattern="[0-9]*" title="Must be a number" id="otp3" required  maxlength="1" onkeyup="clickEvent(this,'otp4')">  
                            <input type="text" name="otp4" inputmode="numeric" pattern="[0-9]*" title="Must be a number" id="otp4" required  maxlength="1" >  
                        </div>
                        </div>
                     <ul class="otp-forgot timer">
                        <li id="resend">Resend in 10</li>
                     </ul>
                 <div class="arrow">
                    <button type="submit" class="loginform-btn dark-button"><h6>Submit</h6></button>
                    <i class="fas fa-arrow-right rarrow"></i>
                 </div>
                </form>
                <p>Back to <a href="/"><span>Login page</span></a></p>
                
             </div>
            </div>
            <div class="login-copyright">
                <p>All Rights Reserved. tvastra 2018</p>
            </div>

            <script src="../views/js/otp-submit.js"></script>
    </body>
</html>