<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\login.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\submit-your-query.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
        <title>Submit Your Query</title>
    </head>
    <body>
      <div class="navbar">
          <nav>
            <a href="..\views\index.html"> <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo"></a>
            <i class="fas fa-bars fa-2x bar"></i>
          </nav>
      </div>
          
            <nav class="desktop-nav">
            <div class="desk-img">
                <a href="..\views\index.html"> <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo"></a>
            </div> 
                <div class="desk-i">
                    <ul class="desk-ul">
                        <li><a href="..\views\doctor.html">Doctors</a></li>
                        <li><a href="..\views\hospital.html">Hospitals</a></li>
                        <li><a href="..\views\treatment.html">Treatment</a></li>
                        <li><a href="..\views\doctor.html">Other Services</a></li>
                        <li><a href="..\views\aboutus.html">About</a></li>
                    </ul>
                  </div>
                       
                <div class="desktop-btn">
                    <a href=".\login.html"> <button class="login-btn">Login / signup</button></a>
                  <button class="quote-btn">Get a Quote</button>
                </div>
             </nav>
             <div class="loginform-container">
             <div class="loginform">
                 <div class="login-header">
                    <h4>Submit your query</h4>
                 </div>
                 <div class="loginfrm-inp">
                     <div class="login-qstn">
                        <input type="text" placeholder="Enter Name">
                     </div>
                    
                    <input type="text" placeholder="Enter Phone Number">
                    <input type="text" placeholder="Enter Email">
                    <textarea name="query" id="query" placeholder="Enter Your query here"></textarea>
                    
                 </div>
                 <div class="arrow">
                    <button class = "loginform-btn dark-button"><h6>Submit</h6></button>
                    <i class="fas fa-arrow-right rarrow"></i>
                 </div>
             </div>
            </div>
            <div class="login-copyright">
                <p>All Rights Reserved. tvastra 2018</p>
            </div>
    </body>
</html>