<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\login.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\submit-your-query.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
        <title>Submit Your Query</title>
    </head>
    <body>
        <%- include("partials/header.ejs")%>
             <div class="loginform-container">
             <div class="loginform">
                 <div class="login-header">
                    <h4>Submit your query</h4>
                 </div>
                 <div class="loginfrm-inp">
                     <div class="login-qstn">
                        <input type="text" placeholder="Enter Name">
                     </div>
                    
                    <input type="text" placeholder="Enter Phone Number">
                    <input type="text" placeholder="Enter Email">
                    <textarea name="query" id="query" placeholder="Enter Your query here"></textarea>
                    
                 </div>
                 <div class="arrow">
                    <button class = "loginform-btn dark-button"><h6>Submit</h6></button>
                    <i class="fas fa-arrow-right rarrow"></i>
                 </div>
             </div>
            </div>
            <div class="submit-copyright">
                <p>All Rights Reserved. tvastra 2018</p>
            </div>
    </body>
</html>