<!Doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
        <link rel="stylesheet" href="..\assets\css\treatment.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar">
            <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
            <i class="fas fa-bars fa-2x bar"></i>
          </nav>

          <nav class="desktop-nav">
            <div class="desk-img">
                <img class="tvastralogo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo">
            </div> 
                <div class="desk-i">
                    <a href="doctors">Doctors</a>
                    <a >Hospitals</a>
                    <a >Treatment</a>
                    <a >Other Services</a>
                    <a >About</a>
                  </div>
                       
                <div class="desktop-btn">
                <button class="login-btn">Login / signup</button>
                  <button class="quote-btn">Get a Quote</button>
                </div>
             </nav>

             <section class="treatment-banner">
                 <div class="banner-img">
                    <div class="banner-info">
                        <h2>Dentistry</h2>
                        <p>Home / Dentistry</p>
                     </div>
                 </div> 
             </section>
             
             <div class="big-flex">
             <div class="vac-container">
                <div class="vaccination-h2">
                    <h2>Vaccination</h2>
                 </div>
             <section class="vaccination-flex treatment-container">
                 <div class="vaccination">
                     
                     <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="dentist">
                 </div>
                 <div class="about-dept">
                     <h5>About Dentist Department</h5>
                     <p>The vaccination of dentists against various vaccine-prevenatable
                        infections is the most important measure of primary prevention against
                        such diseases which would otherwise prove fatal for both the dentists
                        and their patients.
                    </p>
                    <ul>
                        <li>CF-related diabetes (monthly)</li>
                        <li>Gastrointestinal (monthly)</li>
                        <li>CF-related liver disease (monthly)</li>
                        <li>Sweat testing (three times per month)</li>
                    </ul>
                 </div>
             </section>

             <section class="treatments-info treatment-container">
                 <div>
                     <div class="info-i">
                        <i class="fas fa-stethoscope"></i>
                     </div>
                     <h5>Central Nervous System</h5>
                     <p>Open visitation with only two visitors in a room at any time.
                        No one under 12 years of age may. </p>
                 </div>
                 <div>
                     <div class="info-i">
                        <i class="fas fa-baseball-ball"></i>
                     </div>
                     <h5>Allergic Disorders</h5>
                     <p>Open visitation with only two visitors in a room at any time.
                        No one under 12 years of age may. </p>
                 </div>
                 <div>
                     <div class="info-i">
                        <i class="fas fa-heartbeat"></i>
                     </div>
                     
                     <h5>Neoplastic Disorders</h5>
                     <p>Open visitation with only two visitors in a room at any time.
                        No one under 12 years of age may. </p>
                 </div>
             </section>
             </div>
             <div class="service-details-container">
             <section class="treatment-container service-details-flex">
                 <div class="service-details ">
                     <h5 class="fancy"><span>Service  Details</span></h5>
                     <ul class="treatment-container">
                         <div class="service-details-info">
                             <li>Price</li>
                             <li>from$340</li>
                         </div>
                         <div class="service-details-info">
                             <li>Duration</li>
                             <li>10 minutes</li>
                         </div>
                         <div class="service-details-info">
                             <li>office</li>
                             <li># 46</li>
                         </div>
                         <div class="service-details-info">
                             <li>Doctor</li>
                             <li>Dr.Elizabeth Beard</li>
                         </div>
                         <div class="service-details-info">
                             <li>categories</li>
                             <li>Family medicine</li>
                         </div>
                     </ul>
                 </div>
                 <div class="service-details schedule ">
                     <h5 class="fancy"><span>Schedule</span> </h5>
                     <ul class="treatment-container">
                 <div class="service-details-info">
                     <li>Tuesday</li>
                     <li>10:00am - 01:00pm</li>
                 </div>
                 <div class="service-details-info">
                     <li>Friday</li>
                     <li>07:00am - 10:00am</li>
                 </div>
                </ul>

                 </div>
             </section>
            </div>
            </div>
             
             <section class="more-services treatment-container">
                <div >
                    <h2>More Services</h2>
                 </div>
                 <div class="more-services-flex">
                 <div class="white-bg ">
                     <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="orthopedic surgery">
                     <h5 class="fancy ortho-h5"><span>Orthopedic Surgery</span> </h5>
                 </div>
                 <div class="white-bg ">
                     <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="Cancer">
                     <h5 class="fancy"><span>Cancer</span> </h5>
                 </div>
                 <div class="white-bg ">
                     <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="Cardiology">
                     <h5 class="fancy last"><span>Cardiology</span> </h5>
                 </div>
                </div>
             </section>
             <div class="footer txt-center">
                <div class="footer-line1">
                    <div class="footer-img">
                        <img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo">
                    </div>
                     <div class="footer-list">
                        <ul > 
                            <li>Doctor</li>
                            <li>Hospital</li>
                            <li>Treatment</li>
                            <li>Other Services</li>
                            <li>FAQs</li>
                        </ul>
                    </div>
                </div>
            <div class="footer-line2">
                <div class="footer-i">
                    <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                </div>
                <div class="copyright">
                    <p>All Rights Reserved. tvastra 2018</p>
                </div>
            </div>
        </div>
    </body>
</html>