<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra Plus</title>
    <link rel="stylesheet" href="..\assets\css\reset.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\theme.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\index.css" type="text/css">
    <link rel="stylesheet" href="..\assets\css\doctor-profile.css" type="text/css">

    <link rel="stylesheet" href="..\assets\css\faq.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/tvastra-plus.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b5fc96aecf.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("partials/header.ejs")%>
        </header>

        <main>
            <section class="hero-container">
             <figure class="hero-img">
                <!-- <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp" alt="hero image"> -->
            </figure>
            <figcaption class="hero-text">
                <button class="light-blue_button">PLUS</button>
                <h1>Healthcare plans for you and your family.</h1>
                <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses</p>
            </figcaption>

            <section class="plans-container">
                <div class="plans-box">
                    <h2>Select a Tvastra Plus healthcare plan</h2>
                    <p>All Plus plans are for 4 adults and 2 children</p>

                    <div class="plans-flex">
                        <div class="basic">
                            <h4>Basic Plan</h4>
                            <div class="plan_text_container">
                            <ul class="plan-text">
                                <li>Unlimited Consultation with any speciality</li>
                                <li>20% off on prescription medicines</li>
                                <li>20% off on tests & checkups</li>
                            </ul>
                            <ul class="rate">
                                <li>&#8377 2,999<span>/year</span> </li>
                                <li>View Plan Details</li>
                                <li><button class="light-blue_button">Buy Plan</button></li>
                            </ul>
                            </div>
                        </div>
                        <div class="advanced">
                            <div class="popular">
                                <p>Popular</p>
                            </div>
                            
                            <h4>Advanced Plan</h4>
                            <div class="plan_text_container">
                            <ul class="plan-text">
                                <li>Unlimited Consultation with any speciality</li>
                                <li>20% off on prescription medicines</li>
                                <li>20% off on tests & checkups</li>
                                <li>10 Free In-clinic consultations</li>
                            </ul>
                            <ul class="rate">
                                <li> &#8377 3,999<span>/year</span> </li>
                                <li>View Plan details</li>
                                <li><button class="light-blue_button">Buy Plan</button></li>
                            </ul>
                            </div>
                        </div>
                        <div class="comprehensive">
                            <h4>Comprehensive Plan</h4>
                            <div class="plan_text_container">
                            <ul class="plan-text">
                                <li>Unlimited Consultation with any speciality</li>
                                <li>20% off on prescription medicines</li>
                                <li>20% off on tests & checkups</li>
                                <li>10 Free In-clinic consultations</li>
                                <li>2 Master health checkups</li>
                            </ul>
                            <ul class="rate">
                                <li>&#8377 5,999<span>/year</span> </li>
                                <li>View Plan details</li>
                                <li><button class="light-blue_button">Buy Plan</button></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="ratings">
                    <h2>Trusted by 2 Crore+ users every month</h2>
                    <p>Tvastra is the leading healthcare technology company in india. We began in 2009 and today we help 2 crore customers every month.</p>
                    <div class="ratings-flex">
                    <div>
                    <ul class="stars">
                        <li><h6>4.5</h6></li>
                        <li>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </li>
                        <li>1000+ Reviews</li>
                    </ul>
                </div>
                <div class="bar-flex-container">
                    <ul class="bar-flex">
                        <li>5</li>
                        <li>
                            <div class="grey-bar">
                                <div class="blue-bar">
            
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <ul class="bar-flex">
                        <li>4</li>
                        <li>
                            <div class="grey-bar">
                                <div class="blue-bar blue-bar2">
            
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <ul class="bar-flex">
                        <li>3</li>
                        <li>
                            <div class="grey-bar">
                                <div class="blue-bar blue-bar3">
            
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <ul class="bar-flex">
                        <li>2</li>
                        <li>
                            <div class="grey-bar">
                                <div class="blue-bar blue-bar4">
            
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <ul class="bar-flex">
                        <li>
                            1
                        </li>
                    <li>
                        <div class="grey-bar">
                            <div class="blue-bar blue-bar5">
        
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
                    <div class="user-numbers-grid">
                    <ul class="user-numbers">
                        <li><i class="fas fa-users"></i></li>
                        <li>2 Crore+</li>
                        <li>Monthly Customers</li>
                    </ul>
                    <ul class="user-numbers">
                        <li><i class="fas fa-user-md"></i></li>
                        <li>100,000+</li>
                        <li>Verified Doctors</li>
                    </ul>
                    <ul class="user-numbers">
                        <li><i class="fas fa-pills"></i></li>
                        <li>10 Lakh+</li>
                        <li>Medicine Orders Delivered</li>
                    </ul>
                    <ul class="user-numbers">
                        <li><i class="far fa-calendar-check"></i></li>
                        <li>5 Crore+</li>
                        <li>Doctor Appointments</li>
                    </ul>
                </div>
                </section>
            
            
            
         
            

            <section class="benefits">
                <p>Benefits of Plus Membership</p>
                <div class="benefits-flex1 benefits-flex">
                    <div class="benefits-text">
                        <h2>
                            Zero fees for In-clinic consultation
                        </h2>
                        <ul class="benefits-info">
                            <div class="check-flex">
                            <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                consult  with 30000+ specialist doctors at top clinins & hospitals in the PLUS
                                network at Rs.0 consultation fees*
                            </li>
                        </div>
                        <div class="check-flex">
                            <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                Upto 10 in-clinic consultations can be used by any family member over 12 month
                                period
                            </li>
                            </div>
                        </ul>
                    </div>

                    <div class="hospital-logos">
                        <h5>Top Hospitals Onboarded</h5>
                        <div class="logo-grid">
                            <img class="sakra"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt="sakra">
                            <img class="psri"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt="psri">
                            <img class="artemis"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt="artemis">
                            <img class="people-tree"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt="people-tree">
                            <img class="birla"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt="birla">
                            <img class="pratiksha"src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt="pratiksha">
                        </div>
                        <p class="more">+ More Hospitals</p>
                    </div>
                </div>

                <div class="benefits-flex2">
                    <div class="benefits-text">
                        <h2>
                            Unlimited online consultations with top doctors
                        </h2>

                        <ul class="benefits-info">
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                Get all your health queries answered from any specialist online. any time of the day.
                            </li>
                            </div>
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>Connect under 2 minutes on text, call or video - available 24 hrs, 7 days of the week.</li>
                            </div>
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                All online consultations are confidential. Only patient and doctor can the acess the chats.

                            </li>
                            </div>
                        </ul>
                    </div>
                    <figure>
                        <img class="benefits-flex_img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
                    </figure>
                </div>
                <div class="benefits-flex1">

                    
                    <div class="benefits-text">
                        <h2>
                            Flat 20% Off on prescription medicine, lab tests & checkups
                        </h2>

                        <ul class="benefits-info">
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                Save money on medicines and lab tests for your entire family
                            </li>
                            </div>
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>Get flat 205 off on medicines that require prescriptions & flat 20% off on 
                                health checkups nd lab tests</li>
                                </div>
                                <div class="check-flex">
                                    <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                No questions asked, No minimum order values, no limits, available in 100+
                                cities across india
                            </li>
                            </div>
                        </ul>
                    </div>

                    <figure>
                        <img class="benefits-flex_img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
                    </figure>

                </div>

                <div class="benefits-flex2">
                    <div class="benefits-text">
                        <h2>
                            2 Free health checkups
                        </h2>

                        <ul class="benefits-info">
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                Discuss your test results with doctors through online consultations, Recieve
                                E-report within 48 hrs.
                            </li>
                            </div>
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>Home sample pickup</li>
                            </div>
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>
                                Tabs are NABL, CAP Accredited
                            </li>
                            </div>
                            <div class="check-flex">
                                <li><i class="fas fa-check-circle"></i></li>
                            <li>Checkups can be booked anytime, even weekends. Tax deductible under 80D.</li>
                                </div>
                        </ul>
                    </div>
                    <figure>
                        <img class="benefits-flex_img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
                    </figure>
                </div>

            </section>

            <section class="tests">
                <h5>60 Tests Included</h5>
                <div class="tests_grid">
                <div class="tests_box_container">
                    <div class="tests_box">
                        <div class="tests_img" ><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg"></div>
                        <div><h6>Vitamin Profile</h6></div>
                        <div><p>2 Tests</p></div>
                    </div>
                </div>
                <div class="tests_box_container">
                    <div class="tests_box">
                        <div class="tests_img" ><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg"></div>
                        <div><h6>Iron Deficiency Profile</h6></div>
                        <div><p>3 Tests</p></div>
                    </div>
                </div>
                <div class="tests_box_container">
                    <ul class="tests_box">
                        <li class="tests_img" ><img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg"></li>
                        <li><h6>Thyroid Profile</h6></li>
                        <li><p>3 Tests</p></li>
                    </ul>
                </div>
                <div class="tests_box_container">
                    <ul class="tests_box">
                        <li class="tests_img" ><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg"></li>
                        <li><h6>Liver Profile </h6></li>
                        <li><p>11 Tests</p></li>
                    </ul>
                </div>
            </div>
            </section>

            <section class="testimonials">
                <h2>Why we love Tvastra <span class="plus">PLUS</span> </h2>
                <div class="testimonials_box_flex">
                <div class="testimonials_box">
                    <p>"Wonderful experience with Tvastra Plus it helped me in saving a lot of
                        amount as it provides free consultations with best doctors."</p>

                        <div class="testimonials_flex">
                            <div class="testimonials_img">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg
                                ">
                            </div>
                            <ul class="testimonials_info">
                                <li><h6>Rishav Tiwari</h6></li>
                                <li>Advanced Plan User</li>
                            </ul>
                        </div>
                </div>
                <div class="testimonials_box">
                    <p>"Fantastic experience with health test using TvastraPlus. Didn't pay anything  
                        for test. I came to know my deficiency in vitamin wherre family doctor feature 
                        helped me with medicine"</p>

                        <div class="testimonials_flex">
                            <div class="testimonials_img">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg
                                ">
                            </div>
                            <ul class="testimonials_info">
                                <li><h6>Mini Agarwal</h6></li>
                                <li>Advanced Plan User</li>
                            </ul>
                        </div>
                </div>
                
                <div class="testimonials_box">
                    <p>"Wonderful experience with Tvastra Plus it helped me in saving a lot of
                        amount as it provides free consultations with best doctors."</p>

                        <div class="testimonials_flex">
                            <div class="testimonials_img">
                                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg
                                ">
                            </div>
                            <ul class="testimonials_info">
                                <li><h6>Prachi Gupta</h6></li>
                                <li>Comprehensive Plan User</li>
                            </ul>
                        </div>
                </div>
                </div>

            </section>
            <section class="faq-container">
                <h2>Frequently Asked Questions</h2>
                <ul>
                    <li>
                        <button class="accordion">How does free in-clinic consultation with doctors and hospitals
                            work?</button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            Are there are any type of doctors not included in Tvastra 
                                Plus in-clinic consultation network?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            How do the unlimited online consultation work?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            How does flat 20% off on medicines work?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    <li>
                        <button class="accordion">
                            How does 20% off on lab test work?
                        </button>
                            <div class="panel">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum deserunt quia suscipit sit, 
                                    hic magnam magni ut aliquid natus eius similique qui ipsa nobis placeat nihil non reiciendis sint?
                                </p>
                            </div>
                    </li>
                    
                </ul>
                <script src="../views/js/accordian.js"></script>
            </section>
            <div class="footer txt-center">
                <div class="footer-line1">
                    <div class="footer-img">
                        <a href="/index"><img class="footer-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="tvastra logo"></a>
                    </div>
                     <div class="footer-list">
                        <ul > 
                            <a href="/doctor"><li>Doctor</li></a> 
                            <a href="hospital"><li>Hospital</li></a>
                           <a href="/treatment"> <li>Treatment</li></a>
                            <a href="#"><li>Other Services</li></a>
                            <a href="/faq"><li>FAQs</li></a>
                    </div>
                </div>
            <div class="footer-line2">
                <div class="footer-i">
                    <i class="fab fa-facebook-f"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                </div>
                <div class="copyright">
                    <p>All Rights Reserved. tvastra 2018</p>
                </div>
            </div>
        </div>
            
        </section>

    </section>
    
        </main>
        
</body>
</html>