.pagenationContainer ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb__sort {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.2rem;
  padding: 1.5rem;
  padding-right: 3rem;
  border: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat, #ddd;
  background-size: 1rem;
  background-position-x: 83%;
  background-position-y: 50%;
  font-family: "nexa-bold";
  width: 100%;
}

.pageIndexLink {
  margin-right: 0.625rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid var(--blue);
  color: var(--blue);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.pageIndexLink:hover,
.page-active {
  color: var(--white);
  background-color: var(--blue);
}

#main-carousel {
  width: 100%;
  margin-top: 1.25rem;
}

#time_show {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
}

.morning,
.evening,
.afternoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--lightgrey);
  padding-bottom: 1rem;
}

.afternoon {
  border: none;
}

.tim {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.tim p {
  margin-bottom: 0;
}

.timebox {
  padding: 0.625rem 1.3rem;
  border: 1px solid green;
  cursor: pointer;
  color: green;
}

.timinig-not-avaliable {
  text-align: center;
  margin-bottom: 1.25rem;
}

.timinig-not-avaliable p {
  font-family: nexa-bold;
  color: var(--lightgrey);
}

.flickity-viewport {
  height: 80px !important;
  width: 86%;
  left: 7%;
}

.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
  top: 25px;
}

.carousel-cell {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-cell big {
  text-align: center;
}

.time_slot_day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time_slot_day big {
  font-size: 1.2rem;
  font-family: nexa-bold;
  color: var(--darkblue);
  padding-bottom: 1rem;
  margin-right: 10px;
}

.time_slot_day small {
  color: var(--blue);
  font-family: nexa-bold;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.no-slot-available {
  width: 100%;
  padding: 1rem;
  background-color: var(--lightgrey);
  text-align: center;
}

.no-slot-available small {
  color: var(--blue);
  font-family: nexa-bold;
}

.timeslot_active_hai, .time_slot_day:hover {
  border-bottom: 3px solid var(--blue) !important;
}

.sidebar-aside {
  display: none;
}

.banner {
  display: none;
}

.sort {
  padding: 30px 5% 20px 5%;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 0.75fr;
      grid-template-columns: 1fr 0.75fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort p {
  font-size: 1.1rem;
  padding-left: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.breadcrumb__sort {
  float: right;
  border: 1px solid var(--lightgrey);
}

.sort select {
  padding: 8px 13px;
}

.doctor-boundary, .doctor-boundary1 {
  border: 2px solid var(--lightgrey);
  margin: 20px 5%;
}

.doctor1-img {
  height: 400px;
}

.doctor-info h6 {
  color: var(--blue);
}

.info-fancy {
  line-height: 0.5;
  text-align: start;
  margin-left: 35px;
  padding: 20px 0;
}

.info-fancy span {
  display: inline-block;
  position: relative;
}

.info-fancy span:before {
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 3px solid var(--blue);
  top: 0;
  width: 30px;
}

.info-fancy span:before {
  right: 100%;
  margin-right: 6px;
}

.info-ul i {
  padding-right: 20px;
  padding-left: 10px;
  color: var(--blue);
}

.info-ul li {
  padding-bottom: 10px;
  font-size: 1rem;
}

.info-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doctor-info h6 {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 0.9;
}

.footer {
  background-color: var(--darkblue);
  padding-top: 30px;
  padding-bottom: 30px;
}

.appointment-btn {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.alldoctors {
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .breadcrumb__sort {
    width: 50%;
  }
  .banner {
    display: block;
    height: 240px;
    background-color: cornflowerblue;
    position: relative;
  }
  .banner p {
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 1.6rem;
  }
  .banner span {
    font-weight: bold;
    text-decoration: underline;
  }
  .banner img {
    opacity: 0.2;
  }
  .sidebar-aside {
    display: block;
  }
  .sort p {
    padding-left: 0;
    font-size: 1.2rem;
  }
  .sort {
    padding-left: 3%;
  }
  .filter {
    background-color: var(--lightgrey);
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px 10px;
  }
  .filter p {
    margin-bottom: 0;
  }
  .alldoctors {
    padding-left: 0;
  }
  .doctor-boundary {
    margin-left: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .doctor-boundary, .doctor-boundary1 {
    margin-left: 3%;
  }
  .doctor-info {
    width: 65%;
  }
  .info-ul {
    padding-left: 20px;
    margin-bottom: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 0.5fr 0.5fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 0.5fr 0.5fr /1fr 1fr;
  }
  .doctor-info .center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 25px;
  }
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .checkboxes input {
    width: 30px;
    margin-bottom: 10px;
    padding-right: 40px;
  }
  .showmore {
    font-size: 14px;
    color: var(--blue);
    margin-bottom: 0;
    padding: 8px 0 16px 20px;
    cursor: pointer;
  }
  .location {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .location p {
    padding-left: 15%;
    padding-right: 0;
    width: 150px;
    margin-bottom: 0;
  }
  .location i {
    color: var(--blue);
    float: right;
  }
  .doc-fancy {
    line-height: 0.5;
    text-align: center;
    margin-left: 0;
  }
  .doc-fancy span {
    display: inline-block;
    position: relative;
    margin-right: 25px;
  }
  .doc-fancy span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 4px solid var(--lightgrey);
    bottom: 5px;
    width: 15px;
  }
  .doc-fancy span:after {
    left: 100%;
    margin-left: 5px;
  }
  .search-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .checkboxes {
    padding-left: 20px;
    height: 118px;
    overflow: hidden;
  }
  .checkboxes div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkboxes label {
    margin-bottom: 6px;
  }
  .main {
    width: 75%;
    float: end;
  }
  .sidebar-aside {
    width: 25%;
  }
  .doctor-img-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .doctor1-img {
    width: 30%;
    height: 270px;
  }
  .doctor1-img img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 15%;
       object-position: 50% 15%;
  }
  .info-ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .breadcrumb__sort {
    width: 30%;
  }
  .index-desktop-nav {
    padding: 30px 5% 30px 5% !important;
  }
  .banner {
    display: block;
    height: 300px;
    background-color: cornflowerblue;
    position: relative;
  }
  .banner p {
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 2.2rem;
  }
  .sort p {
    font-size: 1.5rem;
  }
  .banner span {
    font-weight: bold;
    text-decoration: underline;
  }
  .banner img {
    opacity: 0.2;
  }
  .sidebar-aside {
    display: block;
  }
  .sort h6 {
    padding-left: 0;
  }
  .filter {
    background-color: var(--lightgrey);
    margin-left: 9%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px 10px;
  }
  .filter p {
    margin-bottom: 0;
    padding-left: 10px;
  }
  .alldoctors {
    padding-left: 0;
  }
  .doctor-boundary {
    margin-left: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .doctor-boundary1 {
    margin-left: 3%;
  }
  .info-ul {
    padding-left: 20px;
    margin-bottom: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1.5fr 1.5fr 1fr;
    -ms-grid-columns: 1fr 1.2fr;
        grid-template: 1.5fr 1.5fr 1fr /1fr 1.2fr;
    width: 700px;
  }
  .doctor-info .center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 25px;
  }
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .checkboxes input {
    width: 40px;
    margin-bottom: 10px;
  }
  .showmore {
    font-size: 1rem;
    color: var(--blue);
    padding: 16px 0 1rem 15px;
    border-bottom: 1px solid var(--lightgrey);
    margin-left: 8%;
    cursor: pointer;
  }
  .location {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .location p {
    padding-left: 50px;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .location i {
    color: var(--blue);
    float: right;
    margin-left: 0;
  }
  .location span {
    padding-left: 20px;
    margin-right: 30px;
  }
  .doc-fancy {
    line-height: 0.5;
    text-align: center;
    margin-left: 35px;
  }
  .doc-fancy span {
    display: inline-block;
    position: relative;
  }
  .doc-fancy span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 3px solid var(--lightgrey);
    bottom: 5px;
    width: 15px;
  }
  .doc-fancy span:after {
    left: 100%;
    margin-left: 5px;
  }
  .search-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .checkboxes div {
    display: block;
  }
  .checkboxes {
    height: 118px;
    overflow: hidden;
    margin-left: 38px;
  }
  .main {
    width: 70%;
  }
  .sidebar-aside {
    width: 27%;
    padding-left: 1.5%;
  }
  .doctor-img-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .appointment-btn {
    padding: 10px 40px;
  }
  .info-fancy span:before {
    height: 8px;
  }
  .doctor1-img {
    width: 20%;
    height: 270px;
  }
  .doctor-info h6 {
    font-size: 1.5rem;
  }
  .doctor-info .fancy {
    padding: 32px 0;
  }
  .doctor1-img img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 15%;
       object-position: 50% 15%;
  }
  .info-ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.15rem;
  }
  .checkboxes label {
    font-size: 1.1rem;
  }
  .carousel-cell {
    max-width: 37%;
    min-width: 150px;
  }
  .flickity-viewport {
    height: 70px !important;
  }
  .morning,
  .evening,
  .afternoon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--lightgrey);
    padding-bottom: 1rem;
  }
  .morning p,
  .evening p,
  .afternoon p {
    margin-bottom: 0;
  }
  .tim {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
  .tim p {
    margin-bottom: 0;
  }
  .mor {
    width: 150px;
    padding-left: 30px;
  }
}
/*# sourceMappingURL=doctor.css.map */