.tvastralogo {
  max-width: 120px;
  padding-left: 5%;
}

.desktop-nav, .treat_carousel__navigation
, .carousel__navigation {
  display: none;
}

.item-img {
  display: none;
}

.works-img {
  display: none;
}

.index-desktop-nav {
  display: none;
}

.desk-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputs input::-webkit-input-placeholder {
  font-size: 0.8rem;
}

.inputs input:-ms-input-placeholder {
  font-size: 0.8rem;
}

.inputs input::-ms-input-placeholder {
  font-size: 0.8rem;
}

.inputs input::placeholder {
  font-size: 0.8rem;
}

.mobile-works-img img {
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.mobile-works-img h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.mobile-works-img p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.bar {
  float: right;
  padding-right: 5%;
  color: #525659;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar i {
  font-size: 20px;
  position: relative;
  top: 5px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt-center {
  text-align: center;
}

.find {
  background-color: var(--lightblue);
  padding-top: 2rem;
}

.find p {
  padding: 0 5% 1.25rem 5%;
  margin-bottom: 0;
}

.find h1 {
  padding: 0 5% 1.25rem 5%;
  margin-bottom: 0;
}

.inputs {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  padding-left: 5%;
}

.inp-img {
  position: relative;
}

.inp-img input {
  padding-left: 30px;
}

.city {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-marker {
  position: absolute;
  top: 13px;
  padding-left: 10px;
  color: var(--darkblue);
}

.search-location {
  position: absolute;
  right: 10px;
  top: 13px;
  color: var(--darkblue);
}

.inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 38px;
  margin-bottom: 8px;
}

.inp-img1, .inp-img2 {
  background-color: white;
  padding: 0.625rem;
  color: var(--darkblue);
}

.inp1, .inp2 {
  width: 100%;
  height: 38px;
}

.inp2 {
  margin-bottom: 20px;
}

.search-button {
  margin-bottom: 2rem;
  border: 1px solid var(--darkblue);
  width: 8rem;
}

.how-it-works p, .how-it-works h2 {
  padding-right: 5%;
  padding-left: 5%;
}

.works-btn-container {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 30px;
}

.works-btn-container .item-txt:hover .spanning {
  color: var(--blue);
}

.works-btn-container .item-txt:hover li {
  color: var(--darkblue);
  border: 1px solid var(--blue);
}

.item-txt .item-active {
  color: var(--darkblue);
  border: 1px solid var(--blue);
}

.item-txt .item-active .spanning {
  color: var(--blue);
}

.works-btn {
  background-color: var(--white);
  border: 1px solid var(--lightgrey);
  border-radius: 0.625rem;
  width: 100%;
  padding: 1rem 5px;
  margin-bottom: 0.625rem;
  font-size: 1.1rem;
  font-family: nexa-bold;
  text-align: start;
  color: var(--lightgrey);
}

.spanning {
  padding: 0.5rem;
}

#accordian {
  margin-bottom: 1.25rem;
}

.doctors {
  background-color: var(--darkblue);
  padding-bottom: 30px;
}

.doctors h2 {
  color: var(--white);
  padding: 2rem 5% 0 5%;
}

.para {
  color: var(--white);
  padding: 0 5%;
}

.doc-img .img1 {
  margin-bottom: 20px;
}

.doc-img .img1 {
  width: 90%;
  background-color: white;
}

.george {
  max-height: 400px;
  overflow: hidden;
}

.img1 {
  position: relative;
  width: 90%;
}

.img2 {
  height: 300px;
  margin-bottom: 20px;
}

.doc-img .last,
.treat-img .last {
  margin-bottom: 0;
}

.info1 {
  text-align: start;
  width: 100%;
  height: 140px;
  padding-right: 10px;
  border-bottom: 5px solid var(--lightblue);
}

.info1 h6 {
  color: var(--blue);
  padding-left: 0;
  padding-top: 15px;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.info1 li {
  padding-right: 10px;
  font-size: 1rem;
  margin-bottom: 5px;
}

.fancy {
  line-height: 0.5;
  text-align: start;
  margin-left: 35px;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 3px solid var(--blue);
  top: 0;
  width: 30px;
}

.fancy span:before {
  right: 100%;
  margin-right: 5px;
}

.info1 ul {
  font-size: 14px;
  padding-left: 34px;
}

.treatment h2 {
  padding: 30px 5% 0 5%;
}

.treat-para {
  padding: 0 5%;
}

.treatment h6, .treatment ul {
  color: var(--white);
  margin: 5px;
  margin-left: 10px;
  padding: 0;
}

.treat-img {
  margin-bottom: 30px;
}

.info2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(18, 17, 31, 0)), color-stop(85%, rgba(7, 6, 36, 0.9)));
  background-image: linear-gradient(180deg, rgba(18, 17, 31, 0) 65%, rgba(7, 6, 36, 0.9) 85%);
  height: 130%;
  color: white;
  text-align: start;
  position: absolute;
  font-size: 18px;
  bottom: 0;
  width: 100%;
}

.info2 ul li {
  color: var(--white);
}

.info2 ul {
  position: absolute;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.info2 h6 {
  padding: 0;
  margin-left: 0;
}

.services-grid {
  display: -ms-grid;
  display: grid;
  width: 95%;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-gap: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
}

.box h6 {
  font-size: 80%;
  color: var(--darkgrey);
  padding: 0;
  margin-bottom: 0;
}

.box img {
  width: 50%;
  height: 50%;
}

.services h2 {
  color: var(--darkblue);
  padding-right: 5%;
  padding-left: 5%;
}

.s-p p {
  padding: 0 5% 0 5%;
}

.box {
  background-color: white;
  color: var(--darkgrey);
  width: 100%;
  border-radius: 1.25rem;
  border: 2px white solid;
  padding: 10px 0 20px 0;
}

.services {
  background-color: #e4e3e3;
  padding-bottom: 50px;
  padding-top: 30px;
}

.enquiry {
  background-color: var(--lightblue);
  padding-top: 30px;
}

.enquiry h2 {
  color: var(--white);
  padding: 0 5%;
  padding-bottom: 0;
}

.enquiry p {
  padding: 0 5%;
}

.enquiry-index {
  background-color: var(--lightblue);
  padding-top: 30px;
}

.enquiry-index h2 {
  color: var(--white);
  padding: 0 5%;
  padding-bottom: 0;
}

.enquiry-index p {
  padding: 0 5%;
}

.enquiry-btn {
  margin-bottom: 2rem;
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 15px 1.25rem;
  width: 12.5rem;
}

.footer {
  padding: 30px 5%;
  background-color: var(--darkblue);
}

.footer-logo {
  max-width: 150px;
}

.footer img {
  padding-bottom: 0.625rem;
}

.footer-index img {
  padding-bottom: 0.625rem;
}

.footer-list a {
  padding: 0;
}

.footer li {
  font-size: 1rem;
}

.footer li, .footer i {
  padding: 0.325rem 0.625rem;
  color: var(--lightgrey);
}

.footer i {
  padding-top: 15px;
}

.footer-index li {
  font-size: 1rem;
}

.footer-index li, .footer-index i {
  padding: 0.325rem 0.625rem;
  color: var(--lightgrey);
}

.footer-index i {
  padding-top: 15px;
}

.copyright p {
  padding-top: 15px;
  margin-bottom: 0;
  color: var(--lightgrey);
  font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }
  .tvastralogo {
    max-width: 150px;
  }
  .navbar i {
    font-size: 24px;
  }
  .inputs input::-webkit-input-placeholder {
    font-size: 0.9rem;
  }
  .inputs input:-ms-input-placeholder {
    font-size: 0.9rem;
  }
  .inputs input::-ms-input-placeholder {
    font-size: 0.9rem;
  }
  .inputs input::placeholder {
    font-size: 0.9rem;
  }
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    padding-left: 5%;
  }
  .inp-img {
    width: 35%;
  }
  .inp2 {
    width: 65%;
    margin-left: 1px;
    height: 60px;
  }
  .inp-img1, .inp-img2 {
    height: 43px;
    padding-top: 13px;
  }
  .map-marker, .search-location {
    top: 12px;
  }
  .mobile-works-img {
    display: none;
  }
  .city, .search {
    height: 43px;
  }
  .search-button {
    font-size: 1rem;
  }
  .how-it-works h2 {
    margin-bottom: 20px;
  }
  .works-btn-container {
    width: 43%;
    margin-left: 5%;
  }
  .works-btn {
    font-size: 1.3rem;
  }
  .works-img-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .works-img {
    display: inline-block;
    width: 50%;
    height: 350px;
    padding-top: 20px;
  }
  .works-img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .works-img-txt {
    text-align: center;
    padding-top: 16px;
    width: 90%;
    padding-left: 10%;
  }
  .works-img-txt h4 {
    font-size: 1.15rem;
  }
  .works-img-txt p {
    font-size: 1rem;
  }
  .doctors h2 {
    margin-bottom: 20px;
  }
  .doctors {
    padding-bottom: 60px;
  }
  .doc-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 49% 49%;
        grid-template: 1fr 1fr / 49% 49%;
    grid-gap: 2%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 5%;
  }
  .george {
    height: 350px;
  }
  .doc-img .img1 {
    width: 100%;
    margin-bottom: 0;
  }
  .info1 li {
    line-height: 1.3;
    font-size: 1rem;
  }
  .info1 h6 {
    font-size: 1.3rem;
  }
  .img1 {
    width: 100%;
    height: auto;
  }
  .img2 {
    height: 350px;
    margin-bottom: 10px;
  }
  .treat-img .last {
    margin-bottom: 10px;
  }
  .treatment h2 {
    margin-bottom: 20px;
  }
  .treat-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 45% 45%;
        grid-template: 1fr 1fr 1fr / 45% 45%;
    grid-column-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services h2 {
    margin-bottom: 20px;
  }
  .services {
    padding-bottom: 40px;
  }
  .services-grid {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 32% 32% 32%;
        grid-template: 1fr 1fr/ 32% 32% 32%;
    grid-row-gap: 10px;
  }
  .box img {
    width: 40%;
  }
  .enquiry h2 {
    margin-bottom: 20px;
  }
  .footer {
    background-color: white;
  }
  .footer-logo {
    max-width: 180px;
  }
  .footer-list li {
    color: var(--darkblue);
    font-weight: bold;
  }
  .footer-i i {
    color: var(--darkblue);
  }
  .copyright p {
    color: var(--darkblue);
    padding: 0;
    padding-left: 10px;
  }
  .footer-i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-line1 div {
    display: inline-block;
  }
  .footer {
    height: 165px;
    padding: 30px 3%;
    border-bottom: 5px solid var(--blue);
  }
  .footer-line1 {
    position: relative;
    padding-bottom: 80px;
  }
  .footer-img {
    width: 190px;
    position: absolute;
    right: 0;
  }
  .footer-img img {
    width: 100%;
    padding: 0;
  }
  .footer-list {
    position: absolute;
    top: 6px;
    left: 0;
  }
  .footer-line2 div {
    display: inline-block;
  }
  .footer-line2 {
    position: relative;
    bottom: 10px;
  }
  .footer-i {
    position: absolute;
    right: 0;
  }
  .copyright {
    position: absolute;
    top: 10px;
    left: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .navbar {
    display: none;
  }
  .inputs input::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .inputs input:-ms-input-placeholder {
    font-size: 1rem;
  }
  .inputs input::-ms-input-placeholder {
    font-size: 1rem;
  }
  .inputs input::placeholder {
    font-size: 1rem;
  }
  .index-desktop-nav {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 0.3fr 1.2fr 1fr;
        grid-template: 1fr / 0.3fr 1.2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 6% 30px 6%;
    background-color: var(--white);
  }
  .desktop-nav {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 0.3fr 1.2fr 1fr;
        grid-template: 1fr / 0.3fr 1.2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 5% 30px 5%;
  }
  .tvastralogo {
    padding-left: 0;
    max-width: 180px;
  }
  .desk-i {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .desk-i a {
    color: var(--darkblue);
    font-weight: bold;
  }
  .desk-i li {
    padding: 0 13px;
  }
  .treatment_menu {
    position: relative;
  }
  .treatment_menu .treatment_sub__menu {
    position: absolute;
    background-color: var(--white);
    width: 15rem;
    top: 1.5rem;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 1;
  }
  .treatment_menu .treatment_sub__menu li {
    padding: 10px 10px;
    text-align: center;
    color: var(--darkblue);
    font-weight: bold;
    font-size: 1.2rem;
  }
  .treatment_menu .treatment_sub__menu li:hover {
    background-color: rgba(128, 128, 128, 0.1);
    border-left: 5px solid var(--blue);
  }
  .treatment_sub__menu {
    display: none;
  }
  .treatment_menu:hover .treatment_sub__menu {
    display: block;
  }
  .desktop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: end;
  }
  .desktop-btn button {
    padding: 0.625rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 10px;
  }
  .login-btn {
    color: var(--darkblue);
    background-color: var(--white);
  }
  .quote-btn {
    color: var(--white);
    background-color: var(--darkblue);
  }
  .flash-container {
    position: absolute;
    right: 0;
    background-color: white;
    margin-top: 0.7rem;
    margin-right: 0.7rem;
    z-index: 9999;
  }
  .flash-container .flash-msg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-column-gap: 12px;
            column-gap: 12px;
    padding: 10px 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    border-left: 5px solid var(--darkblue);
    min-width: 250px;
  }
  .flash-container .msg-icon {
    font-size: 1.8rem;
  }
  .flash-container .msg-content h6 {
    margin-bottom: 0;
  }
  .flash-container .msg-content p {
    font-size: 0.85rem;
    padding-top: 2px;
    font-weight: 600;
    max-width: 250px;
    margin-bottom: 0;
  }
  .flash-container .hide-msg-icon {
    font-size: 1.3rem;
    margin-left: 0.5rem;
    color: var(--darkblue);
    cursor: pointer;
  }
  .failure-msg {
    color: var(--red);
    border-color: var(--red) !important;
  }
  .failure-msg p {
    color: var(--red);
  }
  .success-msg {
    color: var(--popular_green);
    border-color: var(--popular_green) !important;
  }
  .success-msg p {
    color: var(--popular_green);
  }
  .find {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    padding-top: 0;
  }
  .find-flex {
    width: 75%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 6%;
  }
  .find-h1, .find-p p {
    width: 70%;
    color: var(--darkblue);
    padding-top: 0;
  }
  .find-h1 h1, .find-p p {
    text-align: left;
    padding-left: 0;
  }
  .inputs {
    padding-left: 0;
    width: 85%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 0.7fr 1.2fr 0.5fr;
        grid-template: 1fr / 0.7fr 1.2fr 0.5fr;
  }
  .inputs {
    margin-bottom: 0;
  }
  input {
    padding: 5px 0;
  }
  .map-marker, .search-location {
    font-size: 1.2rem;
    top: 18px;
  }
  .map-marker {
    padding-left: 16px;
  }
  .search-location {
    padding-right: 10px;
  }
  .inp-img input {
    padding-left: 40px;
    padding-right: 50px;
  }
  .inp {
    height: 100%;
  }
  .inp1, .inp2 {
    height: 100%;
  }
  .city, .search-button {
    width: 100%;
    height: 100%;
  }
  .search-button {
    font-size: 1.2rem;
  }
  .city {
    margin: 0;
  }
  .inp-img1, .inp-img2 {
    padding-top: 20px;
    font-size: 1.1rem;
    height: 100%;
  }
  .inp-img1 {
    padding-left: 20px;
  }
  .inp-img2 {
    color: var(--lightgrey);
    padding-right: 20px;
  }
  .search-location {
    color: var(--darkgrey);
  }
  .search {
    width: 100%;
    height: 100%;
    border-left: 3px solid var(--lightblue);
    padding-left: 20px;
    margin: 0;
  }
  input.search-button {
    width: 100%;
    margin: 0;
  }
  .how-it-works {
    padding-top: 6%;
    margin-bottom: 15px;
  }
  .how-it-works p {
    padding: 0;
    margin-bottom: 0;
    text-align: start;
  }
  .how-it-works h2 {
    padding: 0;
  }
  .works-btn {
    padding: 40px 30px;
    border-radius: 5px;
    margin: 0.5rem 0;
  }
  .spanning {
    padding-right: 20px;
  }
  .works-btn-container {
    width: 100%;
    padding: 0 0 6% 0;
    margin-bottom: 0;
    margin-left: 6%;
  }
  .works-btn {
    font-size: 1.8rem;
  }
  .mobile-works-img img {
    -o-object-fit: contain;
       object-fit: contain;
    padding-bottom: 10px;
  }
  .works-img-txt {
    text-align: center;
    padding: 0;
  }
  .works-img-txt h4 {
    font-size: 24px;
  }
  .works-img-txt p {
    font-size: 1.2rem;
  }
  .works-img-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .works-btn-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 55%;
        grid-template-columns: 40% 55%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .works-btn-container .item-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1/8;
    max-width: 90%;
    max-height: 100%;
  }
  .item-img {
    display: none;
  }
  .doctors {
    text-align: left;
    padding-top: 6%;
    padding-bottom: 6%;
  }
  .doctors p, .doctors h2 {
    margin-left: 80px;
  }
  .doctors h2 {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .para {
    padding-right: 6%;
    padding-bottom: 20px;
  }
  .doc-img {
    display: -ms-grid;
    display: grid;
    width: 94%;
    -ms-grid-rows: 100%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template: 100% / 1fr 1fr 1fr 1fr;
    position: relative;
    padding-left: 6%;
    grid-gap: 10px;
  }
  .mySlides {
    display: none;
  }
  img {
    vertical-align: middle;
  }
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: var(--white);
    border: 2px solid var(--blue);
  }
  .treat-dots {
    position: absolute;
    left: 7%;
    top: 102%;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation: fade 1s ease-in;
            animation: fade 1s ease-in;
  }
  @-webkit-keyframes fade {
    0% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .mySlides {
    display: none;
  }
  .docslide {
    display: none;
  }
  .doc-slide_container {
    position: relative;
    margin: auto;
  }
  .doc-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  .doc-active, .doc-dot:hover {
    background-color: var(--darkblue);
    border: 2px solid var(--blue);
  }
  .dots {
    position: absolute;
    left: 8%;
    top: 108%;
  }
  .doc-img .img1 {
    width: 100%;
    margin-bottom: 0;
  }
  .george {
    height: 350px;
  }
  .info1 h6 {
    padding-top: 20px;
    font-size: 1.5rem;
  }
  .fancy {
    line-height: 0.3;
  }
  .info1 ul {
    padding-top: 10px;
  }
  .info1 li {
    font-size: 1.1rem;
  }
  .info1 {
    height: 160px;
  }
  .treatment {
    padding-top: 6%;
    margin-bottom: 5%;
  }
  .treatment-flex {
    padding-bottom: 1rem;
  }
  .treatment h2,
  .treatment p {
    padding: 0;
  }
  .treatment p {
    margin-bottom: 0;
  }
  .treatment h6 {
    font-size: 1.3rem;
    margin-left: 0;
  }
  .treatment h2, .treatment p
, .services-flex h2, .services-flex p {
    padding-left: 0;
  }
  .treat-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (2rem)[28];
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: repeat(28, 2rem)/1fr 1fr 1fr;
    grid-gap: 1px 10px;
    padding: 0 6%;
  }
  .treat-img img {
    margin-top: 0;
  }
  .treat-img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 9;
    grid-row: 1/10;
    height: 18rem;
  }
  .treat-img1 .info2 {
    height: 150%;
  }
  .treat-img2 .info2 {
    height: 110%;
  }
  .treat-img3 .info2 {
    height: 130%;
  }
  .treat-img4 .info2 {
    height: 70%;
  }
  .treat-img5 .info2 {
    height: 100%;
  }
  .treat-img6 .info2 {
    height: 90%;
  }
  .treat-img2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 14;
    grid-row: 1/15;
    height: 28rem;
  }
  .treat-img3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 12;
    grid-row: 1/13;
    height: 24rem;
  }
  .treat-img4 {
    -ms-grid-row: 10;
    -ms-grid-row-span: 20;
    grid-row: 10/30;
    height: 40rem;
  }
  .treat-img5 {
    -ms-grid-row: 15;
    -ms-grid-row-span: 15;
    grid-row: 15/30;
    height: 30rem;
  }
  .treat-img6 {
    -ms-grid-row: 13;
    -ms-grid-row-span: 17;
    grid-row: 13/30;
    height: 34rem;
  }
  .img1 {
    width: 100%;
  }
  .treat-img .last {
    margin-bottom: 20px;
  }
  .treat-img {
    margin-bottom: 0;
  }
  .treat_carousel__navigation-list,
  .treat_carousel__navigation-item {
    display: inline-block;
  }
  .treat_carousel__navigation {
    display: block;
    position: relative;
    text-align: start;
    padding-left: 8%;
    top: 8px;
  }
  .treat_carousel__navigation-item a {
    padding: 0;
  }
  .treat_carousel__navigation-button {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--darkgrey);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
  .treat_carousel__navigation-button:hover {
    width: 0.85rem;
    height: 0.85rem;
    background-color: var(--white);
    border: 0.1rem solid var(--blue);
    background-clip: content-box;
  }
  .services-grid {
    display: -ms-grid;
    display: grid;
    width: 94%;
    -ms-grid-rows: 100%;
    -ms-grid-columns: (1fr)[6];
        grid-template: 100%/repeat(6, 1fr);
    grid-gap: 10px;
    padding-right: 80px;
    padding: 20px 0;
  }
  .pad {
    padding-left: 6%;
  }
  .services {
    padding: 5% 0 4% 0;
  }
  .services-para {
    padding-right: 8%;
    text-align: start;
  }
  .services h2,
  .services p {
    padding: 0;
  }
  .services p {
    margin-bottom: 0;
  }
  .services-flex, .treatment-flex, .doctors-flex, .how-it-works {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .how-it-works, .services-flex, .treatment-flex {
    padding-left: 6%;
  }
  .doctors h2, .doctors p {
    margin: 0;
    padding-left: 6%;
  }
  .box {
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .box h6 {
    font-size: 1rem;
  }
  .georgiaimg {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
  .roseimg {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
  }
  .enquiry-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr / 1fr 1fr;
    padding: 4% 1%;
  }
  .enquiry {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr / 1fr 1fr;
    padding: 4% 0;
  }
  .help {
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 5%;
  }
  .help h2, .help p {
    padding-left: 40px;
  }
  .help p {
    margin-bottom: 0;
  }
  .enq-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
    padding-right: 10%;
  }
  .enquiry-index button {
    margin: 0;
    padding: 20px 20px;
    border-radius: 3px;
    font-family: nexa-light;
    font-size: 1.2rem;
    width: 240px;
  }
  .enquiry button {
    margin: 0;
    padding: 20px 20px;
    border-radius: 3px;
    font-family: nexa-light;
    font-size: 1.2rem;
    width: 240px;
  }
  .footer {
    background-color: white;
  }
  .footer-logo {
    max-width: 180px;
  }
  .footer-list li {
    color: var(--darkblue);
    font-size: 1.2rem;
    padding-left: 30px;
    font-weight: bold;
  }
  .footer-i i {
    color: var(--darkblue);
    font-size: 1.2rem;
    padding-right: 15px;
    padding-left: 0;
  }
  .copyright p {
    color: var(--darkblue);
    padding: 0;
    padding-left: 30px;
  }
  .footer-i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-line1 div {
    display: inline-block;
  }
  .footer {
    height: 195px;
    padding: 40px 3%;
    border-bottom: 5px solid var(--blue);
  }
  .footer-index {
    height: 195px;
    padding: 40px 4%;
    border-bottom: 5px solid var(--blue);
  }
  .footer-line1 {
    position: relative;
    padding-bottom: 80px;
  }
  .footer-img {
    width: 225px;
    position: absolute;
    right: 0;
    padding-right: 20px;
  }
  .footer-img img {
    width: 100%;
    padding: 0;
  }
  .footer-list {
    position: absolute;
    top: 6px;
    left: 0;
  }
  .footer-line2 div {
    display: inline-block;
  }
  .footer-line2 {
    position: relative;
    bottom: 10px;
  }
  .footer-i {
    position: absolute;
    right: 0;
    padding-right: 2%;
  }
  .copyright {
    position: absolute;
    top: 10px;
    left: 0;
  }
}
/*# sourceMappingURL=index.css.map */