.tvastralogo{
    min-width: 6.25rem;
    max-width: 9.375rem;
    padding-left: 0.625rem;
}
.desktop-nav{
    display: none;
}
.bar{
    float:right;
    padding-right: 0.625rem;
    color: #525659;
}

.navbar{
    padding-top: 0.625rem;
    margin-bottom: 10px;
    
}
.center{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: space-around;
}

.txt-center{
    text-align: center;
}
.find{
    background-color: var(--lightblue);
    padding-top: 1rem;
}

.find h1{
    color: var(--darkblue);
}

.find p{
    padding-bottom: 1.25rem;
}

.inp{
    width: 80%;
    padding-left: 10%;
}

.inp-img{
    position: relative;
}
.city{
    padding-left: 20px;
    box-sizing: border-box;
}
.map-marker{
    position: absolute;
    top: 10px;
    padding-left: 5px;
}

.search-location{
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-button{
    margin-bottom: 1rem;
    background-color: var(--darkblue);
    color: var(--lightgrey);
    border: 1px solid var(--darkblue);
    font-family: nexa-light;
    font-size: 0.8rem;
    padding: 0.625rem 1.25rem;
    width: 8.75rem;
}

.how-it-works h2{
    padding-top: 1.25rem;
    color: var(--darkblue);
}

.works-btn:hover{
    color: var(--darkblue);
    border: 2px solid var(--darkgrey);
}

.works-btn-container{
    width: 90%;
    padding: 2%;
}
.works-btn{
    text-align: start;
    color: var(--lightgrey);
    background-color: var(--white);
    border: 1px solid var(--darkgrey);
    border-radius: 0.625rem;
    font-size: 1.25rem;
    font-family: nexa-bold;
    width: 100%;
    padding: 1rem 5px;
    font-weight: bold;
    margin:0.625rem;
}

#accordian{
    margin-bottom: 1.25rem;
}

.doctors{
    background-color: var(--darkblue);
    padding-bottom: 30px;

}

.doctors h2{
    padding-top: 1.25rem;
    color: var(--white);
}

.para{
    color: var(--white);
}

.doc-img img{
  margin-bottom: 80px;
  margin-top: 20px;
  }
  .img1{
  position: relative;
  width: 90%;
  }
ul{
    padding-top: 0;
}
  .info1{
    background-color:white;
    text-align: start;
    position: absolute;
    font-size: 18px;
    bottom: 0;
    width: 100%;
    border-bottom: 5px solid var(--lightblue);
}

.info1 h6{
    color: var(--blue); 
    padding-left: 0;
}

.fancy {
    line-height: 0.5;
    text-align: start;
    margin-left: 35px;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before{
    content: "";
    position: absolute;
    height:1px;
    border-bottom: 3px solid var(--blue);
    top: 0;
    width: 30px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 5px;
  }
.info1 ul{
    font-size: 14px;
    padding-left: 34px;
}

.treatment h2{
    padding-top: 30px;
    padding-bottom: 0.625rem;
}
.treatment h6,.treatment ul{
    color: var(--white);
    margin: 5px;
    margin-left: 10px;
    padding:0;
    font-size: 15px;
}
.treat-img{
    width: 90%;
    padding-left: 5%;
    margin-bottom: 20px;
}
.treat-img img{
    margin-top: 20px;
  }

.info2{
    background-image: linear-gradient(to bottom, rgba(19, 18, 18, 0.9), rgba(19, 18, 18, 0.9));
    color: white;
    text-align: start;
    position: absolute;
    font-size: 18px;
    bottom: 3px;
    width: 100%;
    }
.info2 ul{
    font-size: 13px;
}
.info2 h6{
    padding: 0;
}

.services-grid {
        display: grid;
        width:90%;
        grid-template:  1fr 1fr 1fr / 45% 45% ;
        grid-gap: 3% 4%;
        padding: 5%;
        padding-left: 5%;
        padding-right: 0;
}

.box h6{
    font-size: 90%;
    color: var(--darkgrey);
    padding: 0;
}
.box img{
    width: 60%;
}

.services h2{
    color: var(--darkblue);
}
.box {
    background-color: white;
    color: var(--darkgrey);
    width: 100%;
    border-radius: 1.25rem;
    border: 2px white solid;
    padding-bottom: 1.25rem;
}
.services{
    background-color: var(--lightgrey);
    padding-bottom: 50px;
    padding-top: 1.25rem;
}

.enquiry{
    background-color: var(--lightblue);
  }
  
  .enquiry h2{
    color: var(--white);
    padding: 1rem;
    padding-bottom: 0;
  }
  
  .enquiry p{
    padding-bottom: 1rem;
  }
  
  .enquiry-btn{
    margin-bottom: 2rem;
    background-color:var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    border-radius:0.625rem;
    font-size: 1rem;
    padding:0.625rem 1.25rem;
    width: 12.5rem;
}

.footer{
    padding: 1.25rem;
    background-color:var(--darkblue) ;
}
.footer img{
  padding:0.625rem;
}
.footer li,.footer i{
    padding:0.625rem;
    color: var(--lightgrey);
}
.footer p{
    color: var(--darkgrey);
}



@media only screen and (min-width:768px) and (max-width:1024px){

.desktop-nav{
    display: none;
}
.inp {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-left: 5%;
}
.inp2{
    width: 50%;   
    margin-left: 1px; 
}
.inp-img{
    width: 30%;
}
.search,.city{
    padding: 12px 0;
}

.city{
    padding-left: 20px;
}


.works-btn-container{
    width: 40%;
}

.doc-img{
    display: grid;
    width: 90%;
    grid-template:  1fr 1fr / 48% 48% ;
    padding-left:5%;
}
.img1{
    width: 100%;
    height: auto;
}

.treat-img{
    display: grid;
    grid-template:  1fr 1fr 1fr / 48% 48% ;
}

.services-grid{
    grid-template:  1fr 1fr/ 32% 32% 32%;
    padding: 0; 
    grid-gap: 3% 3%;
    margin-right: 20px;
}

.box img{
    width: 40%;
}

.footer{
    position: relative;
    background-color: var(--white);
}

.footer img{
    padding: 0;
    display: inline;
    position: absolute;
    right: 0;
    padding-right: 20px;
}
.footer-list{
position: absolute;
left: 0;
padding: 10px;
padding-left: 30px;

}
.footer li{
    display: inline;
    color: black;
}

.footer i{
    color: black;
}
.footer-i{
    position: absolute;
    right: 0;
    top: 100px;
    padding-right:20px ;
}
.footer p{
    position: absolute;
    top: 100px;
    padding-bottom: 40px;
    padding-left: 40px;
    color: black;
}
}

@media only screen and (min-width:1025px) {
    .navbar{
        display: none;
    }


.desktop-nav {
    display: grid;
    width: 100%;
    grid-template: 1fr / 1fr 2fr 1fr;
    align-items:center;
    padding:20px 5% 20px 5%;
}


.desk-i{
    justify-self: center;
}
.desk-i a{
    padding:0 10px;
    font-size: 0.825rem;
    font-family: nexa-light;
    color: var(--darkblue);
}
.desktop-btn{
    justify-self: end;
}
.desktop-btn button{
padding:10px 20px 10px 20px;
border-radius: 3px;
font: nexa-bold;
border: 1px solid var(--darkblue);
}

.login-btn{
    color: var(--darkblue);
    background-color: var(--white);

}

.quote-btn{
    color: var(--white);
    background-color: var(--darkblue);
    
}

.find{
    background-image: url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    height:400px;
}
.find-flex{
    width:80%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    padding-left: 5%;
}
.find-h1,.find-p p{
    width:70%;
    color: var(--darkblue);
}

.find-h1 h1,.find-p p{
    text-align: left;
    padding-left: 0;
}
.inp{
    padding-left: 0;
    width: 75%;
    height: 45px;
    display: grid;
    grid-template: 1fr / 0.7fr 1.2fr 0.5fr;
    
}

.city,.search-button{
    width: 100%;
    height:100%;
}
.city{
    padding-left: 50px;
    box-sizing: border-box;
    margin: 0;
}
.map-marker{
    padding-left: 20px;

}
.search-location,.map-marker{
    padding-top: 5px;
    font-size: 1rem;
}

.search-location{
    color: var(--darkgrey);
    padding-right: 10px;
}

.search{
    width: 100%;
    height:100%;
    border-left: 1px solid;
    padding-left: 30px;
    margin: 0;
}
input.search-button{
    width: 100%;
    height: 100%;
    margin: 0;
}
.how-it-works{

    padding-top: 60px;
    margin-bottom: 30px;
    
}
.works-btn{
    padding:30px;
    margin-bottom:1px;
    
}
.spanning{
    padding-right:20px;
}
.works-btn-container{
    width: 36%;
    padding-left: 5%;
    margin-bottom: 60px;
    
}

.doctors{
text-align: left;
padding-top: 40px;
padding-bottom: 100px;
}

.dots{
    width: 90%;
}

.dots-ul li{
    display: inline;
    padding: 0 5px;
    border: 2px solid var(--darkgrey);
    border-radius: 50%;
    background-color: var(--darkgrey);
}
.doctors p,.doctors h2{
    margin-left: 80px;
}

.para{
    width: 90%;
    padding-bottom: 20px;
}

.doc-img{
    display: grid;
    width: 90%;
    grid-template:100% / 1fr 1fr 1fr 1fr;
    position: relative;
    left: 5%;
    grid-gap: 5px;
}

.img1{
    width: 99%;
}

.treat-img{
    display: grid;
    grid-template: 0.5fr 0.5fr 0.5fr/ 1fr 1fr 1fr;
}



.services-grid{
    display: grid;
    width: 90%;
    
    grid-template:100% / repeat(6,1fr);
    grid-gap: 10px;
    padding-right: 80px;
    padding: 20px 0;
}
.services{
    padding-top: 60px;
}
.services-flex,.treatment-flex,.doctors-flex,.how-it-works{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.how-it-works{
    padding-left: 5%;
}
.services-flex{
    padding-left: 10%;
}
.treatment-flex{
    padding-left: 5%;
}
.doctors h2,.doctors p{
margin: 0;
padding-left: 5%;
}

.box{
    border-radius: 0;
    padding-top: 20px;
    padding-bottom:20px;
}

.enquiry {
    height: 200px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
.help{
    text-align: left;
    align-self: center;
    padding-left: 100px;
}
.enq-btn{
    width: 70%;
    align-self: center;
    justify-self: end;
}
.enquiry button{
    width: 60%;
    margin: 0;
    padding:20px 0;
    border-radius: 3px;
    font-family: nexa-light;
    font-size: 1.2rem;
}
.footer{
    position: relative;
    background-color: var(--white);
    border-bottom: 5px solid var(--blue);
    padding-bottom: 125px;
}

.footer img{
    padding: 0;
    display: inline;
    position: absolute;
    right: 0;
    padding-right: 20px;
}
.footer-list{
position: absolute;
left: 0;
padding: 10px;
padding-left: 30px;

}
.footer li{
    display: inline;
    color: black;
}

.footer i{
    color: black;
}
.footer-i{
    position: absolute;
    right: 0;
    top: 100px;
    padding-right:20px ;
}
.footer p{
    position: absolute;
    top: 100px;
    padding-bottom: 15px;
    padding-left: 40px;
    color: black;
}
.footer-list{
    padding-left: 100px;
}
.footer img,.footer-i{
    padding-right:100px
}
.copyright{
    padding-left: 60px;
}
}


