.hero-container {
  position: relative;
  padding: 0;
}

.hero-container .hero-img {
  height: 400px;
}

.hero-container .hero-img img {
  -o-object-position: left;
     object-position: left;
}

.hero-container .hero-text {
  /* background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp" );*/
  top: 0;
  text-align: center;
  padding: 30px 5%;
  padding-bottom: 0;
  height: 400px;
  position: absolute;
}

.hero-container .hero-text button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 13px;
}

.plans-container {
  padding: 0 5%;
  padding-bottom: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9d9ea), to(white));
  background-image: linear-gradient(#b9d9ea, white);
}

.plans-container .plans-box {
  padding: 30px 20px;
  padding-bottom: 0;
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #aaa;
          box-shadow: 0 0 20px #aaa;
}

.plans-container .plans-box p {
  padding-bottom: 30px;
  margin-bottom: 0;
  border-bottom: 1px solid var(--lightgrey);
}

.plans-container .plans-box .plans-flex .advanced {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9d9ea), to(white));
  background-image: linear-gradient(#b9d9ea, white);
}

.plans-container .plans-box .plans-flex .basic, .plans-container .plans-box .plans-flex .advanced, .plans-container .plans-box .plans-flex .comprehensive {
  padding-top: 20px;
}

.plans-container .plans-box .plans-flex .basic .plan-text, .plans-container .plans-box .plans-flex .advanced .plan-text, .plans-container .plans-box .plans-flex .comprehensive .plan-text {
  border-top: 1px solid var(--lightgrey);
  padding-top: 20px;
  height: 240px;
  margin: 0 15%;
  padding-bottom: 10px;
}

.plans-container .plans-box .plans-flex .basic .plan-text li, .plans-container .plans-box .plans-flex .advanced .plan-text li, .plans-container .plans-box .plans-flex .comprehensive .plan-text li {
  padding-bottom: 10px;
}

.plans-container .plans-box .plans-flex .basic .rate, .plans-container .plans-box .plans-flex .advanced .rate, .plans-container .plans-box .plans-flex .comprehensive .rate {
  padding-bottom: 30px;
}

.plans-container .plans-box .plans-flex .basic .rate li, .plans-container .plans-box .plans-flex .advanced .rate li, .plans-container .plans-box .plans-flex .comprehensive .rate li {
  padding-bottom: 10px;
}

.plans-container .plans-box .plans-flex .basic .rate li:nth-child(1), .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(1), .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}

.plans-container .plans-box .plans-flex .basic .rate li:nth-child(1) span, .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(1) span, .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(1) span {
  font-size: 1rem;
}

.plans-container .plans-box .plans-flex .basic .rate li:nth-child(2), .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(2), .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(2) {
  font-size: 1rem;
  color: var(--blue);
  font-weight: bold;
}

.plans-container .plans-box .plans-flex .basic .rate li:nth-child(3), .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(3), .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(3) {
  padding-bottom: 0;
}

.plans-container .plans-box .plans-flex .basic .rate li:nth-child(3) button, .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(3) button, .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(3) button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.ratings {
  text-align: center;
  padding: 0 5%;
  padding-bottom: 20px;
}

.ratings li {
  color: var(--button_blue);
  padding-bottom: 10px;
}

.ratings .stars li:nth-child(1) h6 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0;
  color: var(--button_blue);
}

.ratings .stars li:nth-child(2) {
  font-size: 13px;
}

.ratings .grey-bar {
  background-color: var(--lightgrey);
  border-radius: 25px;
  height: 14px;
  width: 200px;
  margin-bottom: 10px;
}

.ratings .grey-bar .blue-bar {
  background-color: var(--button_blue);
  height: 100%;
  width: 120px;
  border-radius: 25px;
}

.ratings .grey-bar .blue-bar2 {
  width: 60px;
}

.ratings .grey-bar .blue-bar3 {
  width: 60px;
}

.ratings .grey-bar .blue-bar4 {
  width: 40px;
}

.ratings .grey-bar .blue-bar5 {
  width: 20px;
}

.ratings .bar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ratings .bar-flex li:nth-child(1) {
  padding-right: 10px;
  font-weight: bold;
}

.ratings .user-numbers-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ratings .user-numbers li:nth-child(1) i {
  font-size: 1.6rem;
}

.ratings .user-numbers li:nth-child(2) {
  font-weight: bolder;
  font-size: 1.1rem;
}

.benefits {
  text-align: center;
  padding: 0 5%;
}

.benefits p {
  border-bottom: 4px solid var(--accordian_blue);
  padding-bottom: 20px;
  margin: 0 10%;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.benefits .benefits-info {
  padding-bottom: 10px;
}

.benefits .benefits-info li {
  margin: 0 10%;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1rem;
}

.benefits .benefits-info ::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: var(--blue);
  font-size: 1rem;
}

.benefits .logo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.benefits .logo-grid img {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 40px;
}

.benefits .logo-grid .birla, .benefits .logo-grid .artemis {
  padding: 0 10px;
}

.benefits .logo-grid .sakra, .benefits .logo-grid .birla, .benefits .logo-grid .artemis {
  border-right: 1px solid var(--lightblue);
}

.benefits .logo-grid .sakra, .benefits .logo-grid .artemis, .benefits .logo-grid .psri, .benefits .logo-grid .people-tree {
  border-bottom: 1px solid var(--lightblue);
}

.benefits .more {
  border-bottom: none;
  font-size: 14px;
  padding-bottom: 10px;
}

.benefits .benefits-flex1 .benefits-flex_img, .benefits .benefits-flex2 .benefits-flex_img {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #aaa;
          box-shadow: 0 0 10px #aaa;
  margin-bottom: 30px;
}

.tests {
  text-align: center;
  padding: 0 5%;
}

.tests_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
}

.tests_grid .tests_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #aaa;
          box-shadow: 0 0 10px #aaa;
  padding: 0 10px;
}

.tests_img {
  width: 50%;
  padding: 20px 0;
}

.testimonials {
  text-align: center;
  padding: 30px 5%;
  padding-bottom: 0;
}

.testimonials .plus {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--button_blue);
}

.testimonials_box {
  text-align: left;
  -webkit-box-shadow: 0 0 10px #aaa;
          box-shadow: 0 0 10px #aaa;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonials_box p {
  margin-bottom: 10px;
  font-weight: bold;
}

.testimonials_box .testimonials_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials_box .testimonials_flex .testimonials_info h6 {
  margin-bottom: 10px;
}

.testimonials_box .testimonials_flex .testimonials_info li:nth-child(2) {
  color: var(--blue);
  background-color: var(--plan-user);
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.testimonials_box .testimonials_flex .testimonials_img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.testimonials_box .testimonials_flex .testimonials_img img {
  border-radius: 50%;
}

@media only screen and (min-width: 1024px) {
  .hero-container .hero-img {
    height: 500px;
  }
  .hero-container .hero-img img {
    -o-object-position: top;
       object-position: top;
  }
  .hero-container .hero-text {
    text-align: left;
    top: 30%;
    padding-left: 6%;
  }
  .hero-container .hero-text button {
    font-size: 1.25rem;
    padding: 10px 15px;
  }
  .plans-container {
    padding-bottom: 60px;
  }
  .plans-container .plans-box {
    padding: 60px;
  }
  .plans-container .plans-box .plans-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plans-container .plans-box .plans-flex .basic, .plans-container .plans-box .plans-flex .advanced, .plans-container .plans-box .plans-flex .comprehensive {
    padding: 20px 40px;
    padding-bottom: 0;
  }
  .plans-container .plans-box .plans-flex .basic h4, .plans-container .plans-box .plans-flex .advanced h4, .plans-container .plans-box .plans-flex .comprehensive h4 {
    font-size: 28px;
  }
  .plans-container .plans-box .plans-flex .basic li, .plans-container .plans-box .plans-flex .advanced li, .plans-container .plans-box .plans-flex .comprehensive li {
    font-size: 1.25rem;
  }
  .plans-container .plans-box .plans-flex .basic .plan-text, .plans-container .plans-box .plans-flex .advanced .plan-text, .plans-container .plans-box .plans-flex .comprehensive .plan-text {
    margin: 0 5%;
    height: 280px;
  }
  .plans-container .plans-box .plans-flex .basic .plan-text li, .plans-container .plans-box .plans-flex .advanced .plan-text li, .plans-container .plans-box .plans-flex .comprehensive .plan-text li {
    padding-bottom: 16px;
  }
  .plans-container .plans-box .plans-flex .basic .rate, .plans-container .plans-box .plans-flex .advanced .rate, .plans-container .plans-box .plans-flex .comprehensive .rate {
    padding-bottom: 0;
  }
  .plans-container .plans-box .plans-flex .basic .rate li, .plans-container .plans-box .plans-flex .advanced .rate li, .plans-container .plans-box .plans-flex .comprehensive .rate li {
    padding-bottom: 15px;
  }
  .plans-container .plans-box .plans-flex .basic .rate li:nth-child(1), .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(1), .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(1) {
    font-size: 32px;
  }
  .plans-container .plans-box .plans-flex .basic .rate li:nth-child(1) span, .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(1) span, .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(1) span {
    font-size: 20px;
  }
  .plans-container .plans-box .plans-flex .basic .rate li:nth-child(2), .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(2), .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(2) {
    font-size: 20px;
  }
  .plans-container .plans-box .plans-flex .basic .rate li:nth-child(3), .plans-container .plans-box .plans-flex .advanced .rate li:nth-child(3), .plans-container .plans-box .plans-flex .comprehensive .rate li:nth-child(3) {
    padding-bottom: 0;
  }
  .plans-container .plans-box .plans-flex .advanced {
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
  }
  .ratings-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stars {
    padding-right: 40px;
  }
  .ratings {
    padding: 0 6%;
    padding-bottom: 60px;
  }
  .ratings h2, .ratings p {
    margin-bottom: 40px;
  }
  .ratings p {
    margin-left: 20%;
    margin-right: 20%;
  }
  .ratings .stars {
    margin-right: 60px;
  }
  .ratings .stars li:nth-child(1) h6 {
    font-size: 4rem;
  }
  .ratings .stars li:nth-child(2) {
    font-size: 1rem;
  }
  .ratings .stars li:nth-child(3) {
    font-size: 1.25rem;
  }
  .ratings .grey-bar {
    height: 16px;
    width: 300px;
  }
  .ratings .grey-bar .blue-bar {
    height: 100%;
    width: 200px;
  }
  .ratings .grey-bar .blue-bar2 {
    width: 120px;
  }
  .ratings .grey-bar .blue-bar3 {
    width: 120px;
  }
  .ratings .grey-bar .blue-bar4 {
    width: 60px;
  }
  .ratings .grey-bar .blue-bar5 {
    width: 40px;
  }
  .ratings .bar-flex li:nth-child(1) {
    font-size: 1.15rem;
  }
  .ratings .user-numbers-grid {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template: 1fr/ 1fr 1fr 1fr 1fr;
    margin-top: 40px;
  }
  .ratings .user-numbers li:nth-child(1) i {
    font-size: 2.5rem;
  }
  .ratings .user-numbers li:nth-child(2) {
    font-size: 1.5rem;
  }
  .ratings .user-numbers li:nth-child(3) {
    font-size: 1.25rem;
  }
  .benefits {
    padding: 0 6%;
  }
  .benefits p {
    margin: 0 38%;
    margin-bottom: 40px;
    font-size: 1.3rem;
  }
  .benefits .benefits-flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .benefits .benefits-flex1 figure {
    margin-left: 100px;
  }
  .benefits .benefits-flex.benefits-flex1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .benefits .benefits-flex .benefits-info li {
    padding-bottom: 20px;
  }
  .benefits .benefits-flex .hospital-logos {
    text-align: center;
    margin-left: 100px;
  }
  .benefits .benefits-flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefits .benefits-flex2 .benefits-text {
    text-align: left;
  }
  .benefits .benefits-flex2 figure {
    margin-right: 100px;
  }
  .benefits .benefits-info {
    padding-bottom: 10px;
  }
  .benefits .benefits-info li {
    margin: 0 0;
    text-align: left;
    font-size: 1.25rem;
  }
  .benefits .benefits-info ::marker {
    font-size: 1.25rem;
  }
  .benefits .hospital-logos h5 {
    margin-bottom: 40px;
  }
  .benefits .logo-grid {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    margin-bottom: 20px;
  }
  .benefits .logo-grid img {
    -o-object-fit: contain;
       object-fit: contain;
    padding: 0 30px;
  }
  .benefits .more {
    border-bottom: none;
    font-size: 18px;
    padding-bottom: 10px;
    margin: 0;
  }
  .benefits .benefits-text h2 {
    margin-bottom: 40px;
  }
  .benefits .benefits-flex1, .benefits .benefits-flex2 {
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .benefits .benefits-flex1 li, .benefits .benefits-flex2 li {
    padding-bottom: 20px;
  }
  .benefits .benefits-flex1 .benefits-flex_img, .benefits .benefits-flex2 .benefits-flex_img {
    margin-bottom: 0;
  }
  .tests {
    text-align: left;
    padding: 0 6%;
  }
  .tests h5 {
    margin-bottom: 40px;
  }
  .tests_grid {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tests_grid .tests_box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 20px;
    margin-bottom: 60px;
  }
  .tests_img {
    width: 20%;
  }
  .testimonials {
    text-align: left;
    padding: 0 6%;
  }
  .testimonials .plus {
    font-size: 1.25rem;
  }
  .testimonials h2 {
    margin-bottom: 40px;
  }
  .testimonials_box_flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .testimonials_box {
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .testimonials_box p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  .testimonials_box .testimonials_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials_box .testimonials_flex .testimonials_info h6 {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
  .testimonials_box .testimonials_flex .testimonials_info li:nth-child(2) {
    color: var(--blue);
    background-color: var(--plan-user);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .testimonials_box .testimonials_flex .testimonials_img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }
  .testimonials_box .testimonials_flex .testimonials_img img {
    border-radius: 50%;
  }
  .faq-container {
    padding: 50px 6% 10px 6%;
  }
}
/*# sourceMappingURL=tvastra-plus.css.map */