<body>


    <%- include("header.ejs")%>
        <main>
            <div class="container">
                <aside>
                    <div class="header_arrow">
                        <h3 class="profile_menu_header">Dashboard</h3>
                        <i class="fas fa-angle-down dashboard_down"></i>
                    </div>
                    <ul class="mobile_profile_menu hide">
                        <li>
                            <a href="/profile">
                                <i class="fas fa-user-edit"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myAppointments">
                                <i class="fas fa-th-list"></i>
                                <span>Appointments</span>
                            </a>
                        </li>
                        <% if(user_data.role == "doctor"){%>
                        <li >
                            <a href="/schedules">
                                <i class="fas fa-calendar-check"></i>
                                <span>Schedules</span>
                            </a>
                        </li>
                        <% } else {%>
                            <li style="display: none;">
                                <a href="/schedules">
                                    <i class="fas fa-calendar-check"></i>
                                    <span>Schedules</span>
                                </a>
                            </li>
                            <% } %>
                        <li>
                            <a href="/medicalreports">

                                <i class="far fa-file-alt"></i>
                                <span>Medical Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="/settings">
                                <i class="fas fa-user-cog"></i>
                                <span>Settings</span>
                                </a>
                        </li>
                    </ul>
                    <ul class="profile_menu">
                        <li>
                            <a href="/profile">
                                <i class="fas fa-user-edit"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="/myAppointments">
                                <i class="fas fa-th-list"></i>
                                <span>Appointments</span>
                            </a>
                        </li>
                        <% if(user_data.role == "doctor"){%>
                            <li >
                                <a href="/schedules">
                                    <i class="fas fa-calendar-check"></i>
                                    <span>Schedules</span>
                                </a>
                            </li>
                            <% } else {%>
                                <li style="display: none;">
                                    <a href="/schedules">
                                        <i class="fas fa-calendar-check"></i>
                                        <span>Schedules</span>
                                    </a>
                                </li>
                                <% } %>

                        <li>
                            <a href="/medicalreports">

                                <i class="far fa-file-alt"></i>
                                <span>Medical Reports</span>
                            </a>

                        </li>
                        <li>
                            <a href="/settings">
                            <i class="fas fa-user-cog"></i>
                            <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </aside>
                <script>
                    const mobile_aside_header = document.querySelector('.profile_menu_header')
                    const mobile_aside = document.querySelector('.mobile_profile_menu')
                    mobile_aside_header.onclick = function () {
                        if (mobile_aside.classList[1] == "hide") {
                            mobile_aside.classList.remove("hide")
                        }
                        else {
                            mobile_aside.classList.add("hide")

                        }

                    }
                </script>